{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body %}

<div class='row'>
    <div class='small-12 text-center columns'>
        <a href="{% url "donor:dashboard" %}">
            <div class='medium primary dashboard-button button'>Donor Dash</div>
        </a>
        {% if user.revolvuserprofile.is_administrator %}
        <a href="{% url "administrator:dashboard" %}">
            <div class='medium primary dashboard-button button'>Admin Dash</div>
        </a>
        {% endif %}
        {% if user.revolvuserprofile.is_ambassador %}
        <a href="{% url "ambassador:dashboard" %}">
            <div class='medium active dashboard-button button'>Ambassador Dash</div>
        </a>
        {% endif %}
    </div>
</div>
<div class='row'>
	<div class="small-12 columns">
		<a href="{% url "project:new" %}" class="large button">Create Project</a>
		<div class="drafted_projects">
			<h2>Drafted Projects</h2>
			<p>Edit or submit your drafted projects for review!</p>
			{% for project in drafted_projects %}
	            <div class="row">
	                <div class="small-9 columns">
	                    <div class="row">
	                        <div class="small-12 columns">
	                        	<h3><a href="{% url "project:review" project.pk %}"> {{ project.title }}</a></h3>
	                        </div>
	                    </div>
	                    <div class="row">
	                    	<div class="small-12 columns">
	                    		<h4>{{ project.org_name }}</h4>
	                    	</div>
	                    </div>
	                    <div class="row">
	                        <div class="small-12 columns">
	                            <p> {{ project.mission_statement }} </p>
	                        </div>
	                    </div>
	                </div>
	                <div class="small-3 columns">
	                    <a href="{% url "project:review" project.pk %}">
	                        <img src="{{ project.preview_photo.url }}"></img>
	                    </a>
	                </div>
	            </div>
	            <hr/>
	            <br/>
	        {% empty %}
	            <p> There are no drafted projects right now. Check again later! </p>
	        {% endfor %}
		</div>
		<div class="proposed_projects">
			<h2>Proposed Projects</h2>
			{% for project in proposed_projects %}
	            <div class="row">
	                <div class="small-9 columns">
	                    <div class="row">
	                        <div class="small-12 columns">
	                        	<h3><a href="{% url "project:view" project.pk %}"> {{ project.title }}</a></h3>
	                        </div>
	                    </div>
	                    <div class="row">
	                    	<div class="small-12 columns">
	                    		<h4>{{ project.org_name }}</h4>
	                    	</div>
	                    </div>
	                    <div class="row">
	                        <div class="small-12 columns">
	                            <p> {{ project.mission_statement }} </p>
	                        </div>
	                    </div>
	                </div>
	                <div class="small-3 columns">
	                    <a href="{% url "project:view" project.pk %}">
	                        <img src="{{ project.preview_photo.url }}"></img>
	                    </a>
	                </div>
	            </div>
	            <hr/>
	            <br/>
	        {% empty %}
	            <p> There are no projects in review right now. Check again later! </p>
	        {% endfor %}
		</div>
		<div class="active_projects">
			<h2>Active Projects</h2>
			{% for project in active_projects %}
	            <div class="row">
	                <div class="small-9 columns">
	                    <div class="row">
	                        <div class="small-12 columns">
	                        	<h3><a href="{% url "project:review" project.pk %}"> {{ project.title }}</a></h3>
	                        </div>
	                    </div>
	                    <div class="row">
	                    	<div class="small-12 columns">
	                    		<h4>{{ project.org_name }}</h4>
	                    	</div>
	                    </div>
	                    <div class="row">
	                        <div class="small-12 columns">
	                            <p> {{ project.mission_statement }} </p>
	                        </div>
	                    </div>
	                </div>
	                <div class="small-3 columns">
	                    <a href="{% url "project:review" project.pk %}">
	                        <img src="{{ project.preview_photo.url }}"></img>
	                    </a>
	                </div>
	            </div>
	            <hr/>
	            <br/>
	        {% empty %}
	            <p> There are no active projects right now. Check again later! </p>
	        {% endfor %}
		</div>
		<div class="completed_projects">
			<h2>Completed Projects</h2>
			{% for project in completed_projects %}
	            <div class="row">
	                <div class="small-9 columns">
	                    <div class="row">
	                        <div class="small-12 columns">
	                        	<h3><a href="{% url "project:review" project.pk %}"> {{ project.title }}</a></h3>
	                        </div>
	                    </div>
	                    <div class="row">
	                    	<div class="small-12 columns">
	                    		<h4>{{ project.org_name }}</h4>
	                    	</div>
	                    </div>
	                    <div class="row">
	                        <div class="small-12 columns">
	                            <p> {{ project.mission_statement }} </p>
	                        </div>
	                    </div>
	                </div>
	                <div class="small-3 columns">
	                    <a href="{% url "project:review" project.pk %}">
	                        <img src="{{ project.preview_photo.url }}"></img>
	                    </a>
	                </div>
	            </div>
	            <hr/>
	            <br/>
	        {% empty %}
	            <p> There are no completed projects right now. Check again later! </p>
	        {% endfor %}
		</div>
	</div>
</div>

{% endblock %}
