{% extends "base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "accounting.css" %}" />
    <link href='https://fonts.googleapis.com/css?family=Lato:300,500,800' rel='stylesheet' type='text/css'/>
    <script type="text/javascript">
		window.JSONURL = "{{ jsonurl }}";
		//window.JSONURL = "http://127.0.0.1:8000/dashboard/admin/accounting/json";
	</script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static "js/vendor/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/d3.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/base/accounting.js" %}"></script>
{% endblock %}

{% block body %}

<div class="row heading">
	<div class="large-6 columns">
		<h1 class="revolv-header-text">RE-volv Accounting Information</h1>
	</div>
	<div class="large-6 columns">
		<form class="filter_form">
			<input class="selector start_selector" type="date" name="start-date" placeholder="Start date"/>
			<input class="selector end_selector" type="date" name="end-date" placeholder="End date"/>
			<select class="selector project_selector">
				<option value="all">All projects</option>
			  {% for title in project_names %}
			  	<option value={{ title }}>{{ title }}</option>
			  {% endfor %}
			</select>
		</form>
	</div>
</div>

<div class="row cash-flow-statement">
	<h1 class="cash-flow-header-text">Statement of Cash Flows</h1>
	<p class="time-sub-text"></p>
	<table class="cash-in-table">
		<thead class="cash-in-head">
			<tr class="cash-in-head-row">
				<th class="label-column">Cash In</th>
			</tr>
		</thead>
		<tbody class="cash-in-body table-body">
			<tr class="event-type">
				<td>Donations</td>
			</tr>
			<tr class="event-type">
				<td>Returns on Investments</td>
			</tr>
		</tbody>
		<thead class="cash-out-head">
			<tr class="cash-out-head-row">
				<th class="label-column">Cash Out</th>
			</tr>
		</thead>
		<tbody class="cash-out-body table-body">
			<tr class="event-type">
				<td>Investments</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- <div class="row cash-flow-statement">
	<h1 class="cash-flow-header-text">Statement of Cash Flows</h1>
	<p class="time-sub-text"></p>
	<table class="cash-in-table">
		<thead class="cash-in-head">
			<tr class="cash-in-head-row">
				<th class="label-column">Cash In</th>
			</tr>
		</thead>
		<tbody class="cash-in-body table-body">
		</tbody>
	</table>
	<table class="cash-out-table">
		<thead class="cash-out-head">
			<tr class="cash-out-head-row">
				<th class="label-column">Cash Out</th>
			</tr>
		</thead>
		<tbody class="cash-out-body table-body">
		</tbody>
	</table>
</div> -->


{% endblock %}
