{% extends "base/base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "email.css" %}" />
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}Newsletter Subscribers | {% endblock %}

{% block body %}

<div class='main row'>
    <div class="small-12 columns">
        <h4>Newsletter Subscribers</h4>
        <textarea rows="15">{% for email in subscribed_user_emails %}{{ email }}&#13;&#10;{% endfor %}</textarea>
        <a class="download button" href="{% url "administrator:emailcsv" %}">Download as CSV</a>
    </div>
</div>

{% endblock %}
