# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# VIM
*.sw[po]
*.un~

# Virtualenv
venv

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
staticfiles/
uploads/
celerybeat-schedule

# Sphinx documentation
docs/_build/

# OS X
.DS_Store

# Extra
raw_templates/node_modules/
raw_templates/bower_components/
revolv/static/bower_components/
node_modules/
.revolv_bash_profile
.vagrant
celerybeat.pid
# IDEA
.idea

# RE-volv dist
revolv/media/

*.orig
*/settings/local.py
public/static/
public/media/
conf/pillar/*/deploy
*.priv
.env
node_modules
*/static/js/bundle.js
*/static/js/vendors.js

# Generated css
revolv/static/dashboard.css
revolv/static/fontawesome-settings.css
revolv/static/footer.css
revolv/static/foundation-settings.css
revolv/static/mixins.css
revolv/static/modal.css
revolv/static/nav.css
revolv/static/placeholder-formfield.css
revolv/static/revolv-settings.css
revolv/static/utils.css
