export PAYPAL_CLIENT_ID=xxxxx
export PAYPAL_MODE=sandbox
export PAYPAL_CLIENT_SECRET=xxx
export SOCIAL_AUTH_FACEBOOK_KEY=xxx
export SOCIAL_AUTH_FACEBOOK_SECRET=xxx
export SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=xxx
export SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=xxx
export SHARETHIS_PUBLISHER_ID=xxx
