{% load cms_tags sekizai_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}RE-volv - Dashboard{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "dashboard.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    {% render_block "css" %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    {% block head %}
    {% endblock %}
</head>

<body>
    {% cms_toolbar %}

    <div class='row main-row'>
        <div class="medium-2 columns dashboard-sidebar">
            {% include "base/partials/dashboard_sidebar.html" with user=user %}
        </div>
        {% for project_group_name, project_list in project_dict.items %}
            {% with outer_counter=forloop.counter %}
                {% for project in project_list %}
                    <!-- {{outer_counter}} -->
                    <!-- {{ forloop.counter}} -->
                    <div class="medium-10 columns dashboard-project" {% if outer_counter != 1 or forloop.counter != 1 %}style="display:none"{% endif %}>
                        {% include "base/partials/dashboard_project.html" with project=project user=user %}
                    </div>
                {% endfor %}
            {% endwith %}
        {% endfor %}
    </div>

    {% block body %}
    {% endblock %}

    {% block body-bottom %}
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/js/foundation.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>

    <script>
        $(document).foundation();
    </script>

    <script src="{% static "js/base/dashboard.js" %}"></script>

    {% if messages %}
        <script>
            toastr.options.positionClass = "toast-bottom-right";
        </script>
        {% for message in messages %}
        <script>
            toastr.{{ message.tags }}('{{ message }}')
        </script>
        {% endfor %}
    {% endif %}

    {% render_block "js" %}
    {% block javascripts %}
    {% endblock %}
</body>

</html>


