{% extends "base/projects-list.html" %}
{% load sekizai_tags %}
{% load staticfiles %}
{% comment %}
    Dashboard

    This is the base template for the donor, ambassador, and administrator dashboards for RE-volv.
    Note that this template is the only one that does not inherit from base.html: this defines a
    totally different template inheritance tree (necessary since we don't want the footer, header,
    etc on these pages). Also, no templates directly inherit from this one: instead, this template
    includes many different partials conditionally based on the projects and the logged in user.

{% endcomment %}

{% block title %}Dashboard - {% endblock %}
{% block head %}

    <link rel="stylesheet" type="text/css" href="{% static "projects-list.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
    <script type="text/javascript" src="{% static "js/vendor/d3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base/util/util.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base/partialcircle.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base/projects-list.js" %}"></script>

{% endblock %}
{% block body %}
<div class='main-row dashboard'>

    <div class="container-fluid top100">
      {% if role == 'ambassador' or role == 'admin' %}
          <div class="dashboard-sidebar col-md-2">
            {% include "base/partials/dashboard_sidebar.html" with user=user %}
          </div>
          <div class="col-md-9 col-md-offset-1">
            <div class="row">
              {% include "base/partials/impact_statistics.html" with statistics=statistics user=user donated_projecs=donated_projects %}
            </div>
          </div>
      {% else %}

        {% if donor_has_no_donated_projects %}
          <div class="no-donations">
            <div class="row">
              <div class="col-md-12">
                  <h2>Thanks for signing up with RE-volv! Looks like you haven't supported any solar projects yet.</h2>
                  {% if first_project %}
                  <p><a class="btn btn-blue" href="{% url "projects_list" %}">Start contributing now!</a></p>
                  {% endif %}
              </div>
            </div>
          </div>
        {% else %}
          {% include "base/partials/impact_statistics.html" with statistics=statistics user=user donated_projecs=donated_projects %}
        {% endif %}

      {% endif %}
    </div>

</div>


    {% block body-bottom %}
    {% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>

    <script src="{% static "js/base/dashboard.js" %}"></script>
    <script src="{% static "js/base/dashboard_project.js" %}"></script>

    {% if messages %}
        <script>
            toastr.options.positionClass = "toast-bottom-right";
        </script>
        {% for message in messages %}
        <script>
            toastr.{{ message.tags }}('{{ message }}')
        </script>
        {% endfor %}
    {% endif %}
{% endblock %}
