<!DOCTYPE html>
{% comment %}
    Dashboard

    This is the base template for the donor, ambassador, and administrator dashboards for RE-volv.
    Note that this template is the only one that does not inherit from base.html: this defines a
    totally different template inheritance tree (necessary since we don't want the footer, header,
    etc on these pages). Also, no templates directly inherit from this one: instead, this template
    includes many different partials conditionally based on the projects and the logged in user.

{% endcomment %}
{% load sekizai_tags %}
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}RE-volv Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css" />
    <link rel="stylesheet" href="{% static "dashboard.css" %}" />
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    {% render_block "css" %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    {% block head %}
    {% endblock %}
</head>

<body>
    <div class='row main-row'>
        <div class="small-3 large-2 columns dashboard-sidebar">
            {% include "base/partials/dashboard_sidebar.html" with user=user %}
        </div>
        {% if donor_has_no_donated_projects %}
            <div class="large-10 medium-9 columns no-donations dashboard-data-section dashboard-data-section-current">
                <h2>Thanks for signing up with RE-volv! Looks like you haven't supported any solar projects yet.</h2>
                {% if first_project %}
                    <p>Click <a href="{% url "project:view" pk=first_project.pk %}">here</a> to start contributing.</p>
                {% endif %}
            </div>
        {% endif %}
        {% for project_group, project_list in project_dict.items %}
            {% with outer_counter=forloop.counter %}
                {% for project in project_list %}
                    <div class="small-12 large-10 medium-9 columns dashboard-project dashboard-data-section dashboard-data-section-project-{{project.pk}}" data-project-id="{{project.pk}}">
                        {% include "base/partials/dashboard_project.html" with project=project user=user %}
                    </div>
                {% endfor %}
            {% endwith %}
        {% endfor %}
        <div class="small-12 large-10 medium-9 columns dashboard-data-section dashboard-data-section-my-impact dashboard-data-section-current">
            <div class="large-7 columns my-impact-container"></div>
            <div class="large-5 columns category-preferences-container">
                {% include "base/partials/category_preferences.html" with preferred_categories=preferred_categories categories=categories %}
            </div>
        </div>
    </div>

    {% block body %}
    {% endblock %}

    {% block body-bottom %}
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/js/foundation.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>

    <script>
        $(document).foundation();
    </script>

    <script src="{% static "js/base/dashboard.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/d3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base/partialcircle.js" %}"></script>
    <script src="{% static "js/base/dashboard_project.js" %}"></script>

    {% if messages %}
        <script>
            toastr.options.positionClass = "toast-bottom-right";
        </script>
        {% for message in messages %}
        <script>
            toastr.{{ message.tags }}('{{ message }}')
        </script>
        {% endfor %}
    {% endif %}

    {% render_block "js" %}
    {% block javascripts %}
        <script type="text/javascript">
            window.categoryURL = "{{ category_setter_url }}";
        </script>
    {% endblock %}
</body>

</html>


