{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static "home.css" %}">

<script type="text/javascript" src="{% static "js/vendor/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/d3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/svg4everybody.min.js" %}"></script>

<script type="text/javascript">
    window.HOMEPAGE_PROJECT_DATA = [
        {% for project in featured_projects %}
            {
                "id": "{{ project.pk }}",
                "partialCompleteness": {{ project.partial_completeness_as_js }},
                "url": "{% url "project:view" project.pk %}"
            }{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
</script>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static "js/base/home.js" %}"></script>
{% endblock %}

{% block body %}
{% spaceless %}
<div class='row cover-image-row'>
    <div class="cover-image">
        <div class="shade"></div>
        <div class="cover-inset">
            <h1 class="title-header title-header-about">About RE-volv</h1>
            <h1 class="title-header title-header-tagline">People Funded Renewable Energy</h1>
            <p>When you donate to revolv's solar projects, you are making a lasting impact on the environment and the world around you.</p>
        </div>
    </div>
</div>
<div class="row icons-container">
    <div class="small-3 columns icon-container">
        <svg role="img" title="adult" class="revolv-icon icon-frontal"><use xlink:href="{% static "images/frontal7.svg" %}#entry"></use></svg>
        <div class="stats-container">
            <div class="stat-number">1,502</div>
            <div class="stat-description">people donated</div>
        </div>
    </div>
    <div class="small-3 columns icon-container">
        <svg role="img" title="adult" class="revolv-icon icon-house"><use xlink:href="{% static "images/house4.svg" %}#entry"></use></svg>
        <div class="stats-container">
            <div class="stat-number">{{ completed_projects_count }}</div>
            <div class="stat-description">project{{ completed_projects_count|pluralize }} completed</div>
        </div>
    </div>
    <div class="small-3 columns icon-container">
        <svg role="img" title="adult" class="revolv-icon icon-co2"><use xlink:href="{% static "images/co2.svg" %}#entry"></use></svg>
        <div class="stats-container">
            <div class="stat-number">434,594</div>
            <div class="stat-description">lbs of CO2 avoided</div>
        </div>
    </div>
    <div class="small-3 columns icon-container">
        <svg role="img" title="adult" class="revolv-icon icon-adult"><use xlink:href="{% static "images/adult3.svg" %}#entry"></use></svg>
        <div class="stats-container">
            <div class="stat-number">1,850</div>
            <div class="stat-description">citizens impacted</div>
        </div>
    </div>
</div>
<div class="row project-badges-container">
    {% for project in featured_projects %}
        <div class="project-badge-container small-4 columns {% if forloop.last %}end{% endif %}">
            <div class="project-badge project-id-{{ project.pk }}">
                <div class="project-badge-photo" style="background-image: url({{ project.cover_photo.url }});"></div>
                <!-- the svg for the partial circles will go here -->
                <div class="project-badge-detail-container">
                    <p class="project-title">{{ project.title }}</p>
                    <p class="project-organization">{{ project.org_name }}</p>
                    <p class="project-amount-left">${{ project.rounded_amount_left|intcomma }} left</p>
                    <p class="project-days-left">{{ project.formatted_days_left }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endspaceless %}
{% endblock %}
