{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static "home.css" %}">

<script type="text/javascript" src="{% static "js/vendor/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/d3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/svg4everybody.min.js" %}"></script>

<script type="text/javascript">
    window.HOMEPAGE_PROJECT_DATA = [
        {% for project in featured_projects %}
            {
                "id": "{{ project.pk }}",
                "partialCompleteness": {{ project.partial_completeness_as_js }},
                "url": "{% url "project:view" project.pk %}"
            }{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
</script>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static "js/base/home.js" %}"></script>
{% endblock %}

{% block body %}
{% spaceless %}

<div class="cover-image">
    <div class="shade"></div>
    <div class="cover-inset">
        <p class="title-header">WE'RE SAVING TOMORROW</p>
        <p>When you donate to RE-volv's solar projects, you are making a lasting impact on the environment and the world around you.</p>
    </div>
</div>

<div class="row about">
    <div class="nav-spine sticky">
        <div class="first nav-spine-item">1</div>
            <figure>
                <figcaption>FUNDRAISE</figcaption>
                RE-volv raises money through crowdfunding from amazing people like you.
            </figure>
        <div class="second nav-spine-item second">2</div>
            <figure>
                <figcaption>INVEST</figcaption>
                We then invest in community-based solar energy projects.
            </figure>
        <div class="third nav-spine-item third">3</div>
            <figure>
                <figcaption>PAY IT FORWARD</figcaption>
                Finally, we reinvest the money saved to fund more worthy solar energy projects.
            </figure>
    </div>
    <div class="about-inset">
        <p>Climate change is among the most alarming environmental issues the world faces today.</p>
        <p class="title-header">How would your donation to RE-volv help?</p>

        <!-- Man and Woman -->
        <img class="about-figure" src="{% static "images/man.svg" %}" />
        <div class="coin">$</div>
        <img class="about-figure" src="{% static "images/woman.svg" %}" />
    </div>
</div>

<!-- <div class="row icons-container">
    <div class="small-3 columns icon-container">
        <svg role="img" title="adult" class="revolv-icon icon-frontal"><use xlink:href="{% static "images/frontal7.svg" %}#entry"></use></svg>
        <div class="stats-container">
            <div class="stat-number">{{ total_donors_count|intcomma }}</div>
            <div class="stat-description">project donor{{ total_donors_count|pluralize }}</div>
        </div>
    </div>
    <div class="small-3 columns icon-container">
        <svg role="img" title="adult" class="revolv-icon icon-house"><use xlink:href="{% static "images/house4.svg" %}#entry"></use></svg>
        <div class="stats-container">
            <div class="stat-number">{{ completed_projects_count|intcomma }}</div>
            <div class="stat-description">project{{ completed_projects_count|pluralize }} completed</div>
        </div>
    </div>
    <div class="small-3 columns icon-container">
        <svg role="img" title="adult" class="revolv-icon icon-co2"><use xlink:href="{% static "images/co2.svg" %}#entry"></use></svg>
        <div class="stats-container">
            <div class="stat-number">434,594</div>
            <div class="stat-description">lbs of CO2 avoided</div>
        </div>
    </div>
    <div class="small-3 columns icon-container">
        <svg role="img" title="adult" class="revolv-icon icon-adult"><use xlink:href="{% static "images/adult3.svg" %}#entry"></use></svg>
        <div class="stats-container">
            <div class="stat-number">1,850</div>
            <div class="stat-description">citizens impacted</div>
        </div>
    </div>
</div> -->

<div class="row mobile-learn-container">
    <div class="mobile-learn-button"><a href="/about/">learn about how RE-volv works</a></div>
</div>
<div class="row infographic"><img src="{% static "images/infographic.jpg" %}"></div>

{% endspaceless %}
{% endblock %}
