{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static "home.css" %}">

<script type="text/javascript" src="{% static "js/vendor/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/d3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/svg4everybody.min.js" %}"></script>

<script type="text/javascript">
    window.HOMEPAGE_PROJECT_DATA = [
        {% for project in featured_projects %}
            {
                "id": "{{ project.pk }}",
                "partialCompleteness": {{ project.partial_completeness_as_js }},
                "url": "{% url "project:view" project.pk %}"
            }{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
</script>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static "js/base/home.js" %}"></script>
{% endblock %}

{% block body %}
{% spaceless %}

<div class="cover-image">
    <div class="shade"></div>
    <div class="cover-inset">
        <p class="title-header">WE'RE SAVING TOMORROW</p>
        <p>When you donate to RE-volv's solar projects, you are making a lasting impact on the environment and the world around you.</p>
        <a href="#about">
            <div class="learn-more button">Learn how RE-volv works</div>
        </a>
    </div>
</div>

{% include "base/animations/nav_spine.html" %}
<div id="about" class="row about">
    <div class="about-inset">
        <p>Climate change is among the most alarming environmental issues the world faces today.</p>
        <h1>How would your donation to RE-volv help?</h1>

        <!-- Man and Woman -->
        <img class="person" src="{% static "images/revolv-man.svg" %}" />
        <img 
            data-615="margin-bottom: -60px;"
            data-732="margin-bottom: -660px;"
            data-733="opacity[begin]: 1;"
            data-734="opacity[end]: 0;"
            class="coin" src="{% static "images/coin.svg" %}" />
        <img class="person" src="{% static "images/revolv-woman.svg" %}" />

        {% include "base/animations/factory.html" %}

        <img 
            data-1175="top: 890px; transform: scale(0.2); opacity: 0.1;"
            data-1375="top: 1245px; transform: scale(1); opacity: 1;"
            class="main-panel" src="{% static "images/main-panel.svg" %}">
        <img class="main-house" src="{% static "images/main-house.svg" %}">
        
        <br>

        <div class="grouping">
            <img 
                data-1600="opacity: 0;"
                data-1800="opacity: 1;"
                class="solar-panel" src="{% static "images/main-panel.svg" %}">
            <img class="house" src="{% static "images/house.svg" %}">
        </div>

        <div class="grouping">
            <img 
                data-1600="opacity: 0;"
                data-1800="opacity: 1;"
                class="solar-panel" src="{% static "images/main-panel.svg" %}">
            <img class="house" src="{% static "images/house.svg" %}">
        </div>

        <div class="grouping">
            <img
                data-1600="opacity: 0;"
                data-1800="opacity: 1;"
                class="solar-panel" src="{% static "images/main-panel.svg" %}">
            <img class="house" src="{% static "images/house.svg" %}">
        </div>
    </div>
    <h2>Be a part of something great.</h2>
    <div class="donate button">DONATE NOW</div>
</div>

<script type="text/javascript" src="{% static "js/vendor/skroll-colors.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/skrollr.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/skrollr.menu.min.js" %}"></script>
<script type="text/javascript">
    var s = skrollr.init();

    skrollr.menu.init(s, {
        animate: true,
        easing: 'sqrt'
    });
</script>
{% endspaceless %}
{% endblock %}
