{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}What We Do | {% endblock %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{% static "projects-list.css" %}">

    <script type="text/javascript" src="{% static "js/vendor/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/d3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base/util/util.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base/partialcircle.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base/projects-list.js" %}"></script>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{% static "js/vendor/skrollr.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/skrollr.menu.min.js" %}"></script>
    <script type="text/javascript">
        var s = skrollr.init();

        skrollr.menu.init(s, {
            animate: true,
            easing: 'sqrt'
        });
    </script>
{% endblock %}

{% block body %}
    {% spaceless %}
        {% if is_reinvestment %}
            {% if error_msg %}
                <div class="divider-title "><h5>{{ error_msg }}</h5></div>
            {% else %}
                <div class="divider-title ">You have ${{ reinvestment_amount }} to reinvest. Pick a project below to back!</div>
            {% endif %}
        {% else %}
            {% if active_projects|length == 1%}
                <div class="divider-title ">{{ settings.revolv_cms.ActiveProjectsPageSettings.single_project_heading}}</div>
            {% elif active_projects|length > 1 %}
                <div class="divider-title">{{ settings.revolv_cms.ActiveProjectsPageSettings.multiple_projects_heading}}</div>
            {% endif %}
        {% endif %}
            {% if not error_msg %}
            {% include "base/partials/list_projects.html" %}
        {% endif %}
        <div class="row about">
            <div class="about-inset">
                <!-- Call to action -->
                {% if not is_reinvestment %}
                <h2>{{ settings.revolv_cms.ActiveProjectsPageSettings.join_the_movement }}</h2>
                <a href="{% url "project:new" %}" class="donate button">{{ settings.revolv_cms.ActiveProjectsPageSettings.start_funding_button_text }}</a>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
