{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Sign in{% endblock %}

{% block body %}

<div class='row'>
    <div class='small-6 columns'>
        <h1>Log in</h1>
        <form action="/login/" method="post" id="login_form">
            {% csrf_token %}
            {% for error in login_form.non_field_errors %}
              <small class="error">{{ error }}</small>
            {% endfor %}
            {% for login_field in login_form %}
                {% include "base/partials/tooltip_formfield.html" with field=login_field %}
            {% endfor %}
            <button class="medium" type="submit" value="Log in">Log in</button>
        </form>
    </div>
    <div class="small-6 columns">
        <h1>Sign Up</h1>
        <form action="/signup/" method="post" id="login_form">
            {% csrf_token %}
            {% for error in signup_form.non_field_errors %}
              <small class="error">{{ error }}</small>
            {% endfor %}
            {% for signup_field in signup_form %}
                {% include "base/partials/tooltip_formfield.html" with field=signup_field %}
            {% endfor %}
            <button class="medium" type="submit" value="Log in">Sign up</button>
        </form>
    </div>
</div>

{% endblock %}
