{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Sign in | {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/pages/auth/index.css" %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" >
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static "js/vendor/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base/signin.js" %}"></script>
    <script type="text/javascript">
        {% if referring_endpoint %}
            window.SHOULD_AUTOSHOW_COMPONENT = false;
        {% else %}
            window.SHOULD_AUTOSHOW_COMPONENT = true;
        {% endif %}
    </script>
{% endblock %}

{% block body %}
<div class="contents top150 auth">

<div class="login" {% if referring_endpoint == "signup" or referring_endpoint == "" %}style="display: none"{% endif %}>
  <div class="row">
    <div class="col-md-3 col-md-push-3 col-sm-3 col-sm-push-1">
        {% if reason and reason == "donate" %}
            <h1>{{ settings.revolv_cms.LoginPageSettings.heading_for_donation }}</h1>
            {{ settings.revolv_cms.LoginPageSettings.login_paragraph_for_donation|safe }}
        {% else %}
            <h1>{{ settings.revolv_cms.LoginPageSettings.heading }}</h1>
            {{ settings.revolv_cms.LoginPageSettings.login_paragraph|safe }}
        {% endif %}
        <br/>
        <p>If you're new here, please <a class="component-link" data-component="signup">create an account</a>.</p>
        <p>If you forgot your password, you can <a id="password_reset_link" href="/password_reset/">reset it here</a>.</p>
        <br/>
    </div>
    <div class="col-md-3 col-md-push-3 col-sm-push-2 col-sm-6">
        <form action="/login/" method="post" id="login_form">
            {% csrf_token %}
            {% for error in login_form.non_field_errors %}
              <small class="error non-field-error">{{ error }}</small>
            {% endfor %}
            {% for login_field in login_form %}
                <div class="form-group">
                {% include "base/partials/placeholder_formfield.html" with field=login_field %}
                </div>
            {% endfor %}
            {% if login_redirect_url %}
                <input type="hidden" name="next" value="{{ login_redirect_url }}">
            {% endif %}
            <div class="form-group">
              <button class="submit-button medium btn-blue" type="submit" value="Log in">{{ settings.revolv_cms.LoginPageSettings.button_text }}</button>
            </div>
        </form>

        <div class="social-login-buttons">
                <p class="slb-title">Or login with your Google account below:</p>
                <br/>
            <a href="{% url "social:begin" "google-oauth2" %}?next={% if login_redirect_url %}{{ login_redirect_url }}
                        {% else %}{% url "home" %}{% endif %}" class="slb-btn-google">
                <button class="row slb_socialButtons slb-google">
                    <i class="fa fa-google-plus visible-xs"></i>
                    <span class="hidden-xs">Google</span>
                </button>
            </a>
        </div>
    </div>
  </div>

</div>

<div class='signup' {% if referring_endpoint == "login" or referring_endpoint == "" %}style="display: none"{% endif %}>
    <div class="row">
      <div class="col-md-3 col-md-push-3 col-sm-3 col-sm-push-1">
        <h1>{{ settings.revolv_cms.SignupPageSettings.heading }}</h1>
        {{ settings.revolv_cms.SignupPageSettings.signup_paragraph|safe }}
        <br/>
        <p>Already have an account? Log in <a class="component-link" data-component="login">here</a>.</p>
        <br/>
        <p>Or you can login with your Google account below:</p>
        <div class="social-login-buttons">
                <a href="{% url "social:begin" "google-oauth2" %}?next={% if login_redirect_url %}{{ login_redirect_url }}
                        {% else %}{% url "home" %}{% endif %}" class="slb-btn-google">
                    <button class="row slb_socialButtons slb-google">
                        <i class="fa fa-google-plus visible-xs"></i>
                        <span class="hidden-xs">Google</span>
                    </button>
                </a>
        </div>
      </div>

    <div class="col-md-3 col-md-push-3 col-sm-push-2 col-sm-6">
        <form action="/signup/" method="post" id="login_form">
            {% csrf_token %}
            {% for error in signup_form.non_field_errors %}
              <small class="error non-field-error">{{ error }}</small>
            {% endfor %}
            <div class="form-group">
              {% include "base/partials/placeholder_formfield.html" with field=signup_form.username %}
            </div>
            <div class="form-group">
              {% include "base/partials/placeholder_formfield.html" with field=signup_form.password1 %}
            </div>
            <div class="form-group">
              {% include "base/partials/placeholder_formfield.html" with field=signup_form.password2 %}
            </div>
            <div class="form-group">
              {% include "base/partials/placeholder_formfield.html" with field=signup_form.first_name %}
            </div>
            <div class="form-group">
              {% include "base/partials/placeholder_formfield.html" with field=signup_form.last_name %}
            </div>
            <div class="form-group">
              {% include "base/partials/placeholder_formfield.html" with field=signup_form.email %}
            </div>
            <div class="form-group">
              <label class="checkbox-field-label">
              {{ signup_form.subscribed_to_newsletter }}<span>{{signup_form.subscribed_to_newsletter.label}}</span>
              </label>
              <label class="paragraph-field-label tos">
                  {{ settings.revolv_cms.SignupPageSettings.tos_paragraph|safe }}
              </label>
            </div>
            <div class="form-group">
              <button class="submit-button btn-blue" type="submit" value="Log in">{{ settings.revolv_cms.SignupPageSettings.button_text }}</button>
            </div>
        </form>
    </div>

</div>

</div>
</div>
{% endblock %}
