<!DOCTYPE html>
<html>


<head>
    {% load staticfiles %}

    <title>{% block title %}RE-volv{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}

    <link rel="stylesheet" href="{% static "main.css" %}" />
    {% block head %}
    {% endblock %}
</head>

<body>
    {% include "base/partials/nav.html" %}    

    {% block body %}
    {% endblock %}

    {% block body-bottom %}
    {% endblock %}
</body>

</html>

