<!DOCTYPE html>
<html>


<head>
    {% load staticfiles %}

    <title>{% block title %}RE-volv{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}

    <link rel="stylesheet" href="{% static "main.css" %}" />
    {% block head %}
    {% endblock %}
</head>

<body>
    {% include "base/partials/nav.html" %}    

    {% block body %}
    {% endblock %}

    {% block body-bottom %}
    {% endblock %}

    {% include "base/partials/foot.html" %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/js/foundation.min.js"></script>
    
    <script>
      $(document).foundation();
    </script>
    
    {% block javascripts %}
    {% endblock %}
</body>

</html>

