{% extends "base/base.html" %}
{% load wagtailcore_tags staticfiles %}
{% block title %}{{ self.title }} | {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/pages/cms-page/index.css' %}">
{% endblock head %}

{% block body %}
    <div class="cms-content-row row after-header">
        <div class="small-12 columns">
            <h1>{{ self.title }}</h1>
            {% for block in self.body %}
                {{ block }}
            {% endfor %}
        </div>
    </div>
{% endblock body %}
