@import "utils";
@import "revolv-settings";

.save-button {
    @include revolv-hover-button($revolv-dark-blue, $revolv-dark-blue);
    width: 97%;
    margin-bottom: 30px;
    margin-right: 15px;
}

body {
    position: inline;
}

.container {
    margin-top: 50px;
    
    .amount {
        position: absolute;
        top: 95px;
        width: 91%;
        left: 30px;
    }
}

