.save-button {
  cursor: pointer;
  background-color: transparent;
  color: #064f7e;
  border: 1px solid #064f7e;
  width: 97%;
  margin-right: 15px;
  margin-bottom: 30px; }
  .save-button:hover {
    background-color: #064f7e;
    color: white;
    transition: background-color 0.2s;
    transition: color 0.1s;
    -webkit-transition: background-color 0.2s;
    -webkit-transition: color 0.1s; }
  .save-button:disabled {
    opacity: 0.3; }

.container {
  margin-top: 50px; }

body {
  position: inline; }

#id_amount {
  position: absolute;
  margin-top: -45px;
  width: 91%;
  margin-left: 15px; }
