meta.foundation-version {
  font-family: "/5.5.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.0625em)/";
  width: 40.0625em; }

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/";
  width: 40.0625em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.0625em)/";
  width: 64.0625em; }

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/";
  width: 64.0625em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.0625em)/";
  width: 90.0625em; }

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/";
  width: 90.0625em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.0625em)/";
  width: 120.0625em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

/**
 * This file overrides specific foundation settings in order to make foundation
 * work nicely with revolv's design. Note that only some, but not all, of
 * foundation's settings are overriden here: for the full list, see _settings.scss
 * in revolv/static/node_modules/foundation-sites/scss/foundation.
 */
.placeholder-tooltip-entry {
  position: absolute;
  background-color: white;
  padding: 2px 4px;
  border-radius: 5px;
  border: 1px solid #bbb;
  text-decoration: none;
  font-size: 10px;
  right: -6px;
  top: -7px; }

.placeholder-field-label {
  position: relative; }
  .placeholder-field-label.has-errors input {
    border-color: #F46B7B; }

label.checkbox-field-label {
  text-align: center; }

label.checkbox-field-label span {
  margin-left: 8px; }

small.non-field-error {
  background-color: #F46B7B; }

small.field-error {
  background-color: transparent;
  color: #F46B7B; }

.paragraph-field-label p {
  font-family: inherit;
  font-weight: normal;
  color: #555;
  font-size: 14px; }

.submit-button {
  margin: 0;
  width: 100%;
  height: 37px;
  line-height: 0px;
  cursor: pointer;
  background-color: transparent;
  color: #11ADE5;
  border: 1px solid #11ADE5; }
  .submit-button:hover {
    background-color: #11ADE5;
    color: white;
    transition: background-color 0.2s;
    transition: color 0.1s;
    -webkit-transition: background-color 0.2s;
    -webkit-transition: color 0.1s; }
  .submit-button:disabled {
    opacity: 0.3; }
  .submit-button.gray {
    cursor: pointer;
    background-color: transparent;
    color: #b3b3c0;
    border: 1px solid #b3b3c0; }
    .submit-button.gray:hover {
      background-color: #b3b3c0;
      color: white;
      transition: background-color 0.2s;
      transition: color 0.1s;
      -webkit-transition: background-color 0.2s;
      -webkit-transition: color 0.1s; }
    .submit-button.gray:disabled {
      opacity: 0.3; }
  .submit-button.yellow {
    cursor: pointer;
    background-color: transparent;
    color: #F0AD4E;
    border: 1px solid #F0AD4E; }
    .submit-button.yellow:hover {
      background-color: #F0AD4E;
      color: white;
      transition: background-color 0.2s;
      transition: color 0.1s;
      -webkit-transition: background-color 0.2s;
      -webkit-transition: color 0.1s; }
    .submit-button.yellow:disabled {
      opacity: 0.3; }

.component-row.login, .component-row.password-reset, .component-row.password-reset-done, .component-row.password-reset-confirm, .component-row.password-reset-complete, .component-row.password-change {
  margin: 120px auto; }

.component-row.signup {
  margin: 100px auto; }

.component-row h1 {
  color: #11ADE5;
  font-weight: 100;
  display: block;
  height: 0.5em;
  line-height: 1em;
  border: none;
  border-bottom: 1px solid #11ADE5;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 25px;
  margin-bottom: 1.5em; }
  .component-row h1:first-line {
    background-color: #EBECE7; }
  .component-row h1:before {
    display: inline;
    content: "\a0\a0\a0"; }
  .component-row h1:after {
    display: inline;
    content: "\a0\a0\a0"; }
  .component-row h1.heading-error {
    color: #E83D3D;
    display: block;
    height: 0.5em;
    line-height: 1em;
    border: none;
    border-bottom: 1px solid #E83D3D;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 25px;
    margin-bottom: 1.5em; }
    .component-row h1.heading-error:first-line {
      background-color: #EBECE7; }
    .component-row h1.heading-error:before {
      display: inline;
      content: "\a0\a0\a0"; }
    .component-row h1.heading-error:after {
      display: inline;
      content: "\a0\a0\a0"; }

@media only screen {
  .social-login-buttons .hidden-xs {
    display: none; }
  .social-login-buttons .visible-xs {
    display: block; } }

@media only screen and (min-width: 40.0625em) {
  .social-login-buttons .visible-xs {
    display: none; }
  .social-login-buttons .hidden-xs {
    display: block; } }

.social-login-buttons {
  padding-top: 1em;
  margin-left: 1em;
  width: 100%; }

.row.slb_socialButtons {
  height: 50px;
  border: 1px solid;
  padding: 0.8em;
  margin-bottom: 0.5em;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  background-color: transparent; }

.row.slb_socialButtons.slb-google {
  color: #c32f10; }

.row.slb_socialButtons.slb-google:hover {
  background-color: #c32f10;
  color: white;
  border: 1px #c32f10 solid; }

.row.slb_socialButtons.slb-facebook {
  color: #3b5998; }

.row.slb_socialButtons.slb-facebook:hover {
  background-color: #3b5998;
  color: white;
  border: 1px #3b5998 solid; }

.slb_socialButtons span {
  margin-left: 10px; }
