@import "revolv-settings";
@import "utils";
@import "placeholder-formfield";

.component-row {
    &.login, &.password-reset, &.password-reset-done, &.password-reset-confirm, &.password-reset-complete, &.password-change {
        margin: 120px auto;
    }
    &.signup {
        margin: 100px auto;
    }
}

.component-row {
    h1 {
        color: $revolv-blue;
        font-weight: 100;

        @include text-with-divider($revolv-signin-header-font-size, $divider-color: $revolv-blue, $bg-color: $revolv-tan-bg);

        margin-bottom: 1.5em; // override
        &.heading-error {
            color: $revolv-red;
            @include text-with-divider($revolv-signin-header-font-size, $divider-color: $revolv-red, $bg-color: $revolv-tan-bg);
            margin-bottom: 1.5em; // override
        }
    }
}
