.component-row.login, .component-row.password-reset, .component-row.password-reset-done, .component-row.password-reset-confirm, .component-row.password-reset-complete {
  margin: 120px auto; }
.component-row.signup {
  margin: 100px auto; }

.component-row h1 {
  color: #11ade5;
  font-weight: 100;
  display: block;
  height: 0.5em;
  line-height: 1em;
  border: none;
  border-bottom: 1px solid #11ade5;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 25px;
  margin-bottom: 1.5em; }
  .component-row h1:first-line {
    background-color: #ebece7; }
  .component-row h1:before {
    display: inline;
    content: "\a0\a0\a0"; }
  .component-row h1:after {
    display: inline;
    content: "\a0\a0\a0"; }
  .component-row h1.heading-error {
    color: #e83d3d;
    display: block;
    height: 0.5em;
    line-height: 1em;
    border: none;
    border-bottom: 1px solid #e83d3d;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 25px;
    margin-bottom: 1.5em; }
    .component-row h1.heading-error:first-line {
      background-color: #ebece7; }
    .component-row h1.heading-error:before {
      display: inline;
      content: "\a0\a0\a0"; }
    .component-row h1.heading-error:after {
      display: inline;
      content: "\a0\a0\a0"; }

.placeholder-tooltip-entry {
  position: absolute;
  right: -6px;
  top: -7px;
  background-color: white;
  padding: 2px 4px;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  text-decoration: none;
  font-size: 10px; }

.placeholder-field-label {
  position: relative; }
  .placeholder-field-label.has-errors input {
    border-color: #f46b7b; }

label.checkbox-field-label {
  text-align: center; }

label.checkbox-field-label span {
  margin-left: 8px; }

small.non-field-error {
  background-color: #f46b7b; }

small.field-error {
  background-color: transparent;
  color: #f46b7b; }

.submit-button {
  margin: 0;
  width: 100%;
  height: 37px;
  line-height: 0px;
  background-color: transparent;
  color: #11ade5;
  border: 1px solid #11ade5; }
  .submit-button.gray {
    color: #b3b3c0;
    border: 1px solid #b3b3c0; }
    .submit-button.gray:hover {
      background-color: #b3b3c0; }
  .submit-button.yellow {
    color: #f4c27d;
    border: 1px solid #f4c27d; }
    .submit-button.yellow:hover {
      background-color: #f0ad4e; }
  .submit-button:hover {
    background-color: #11ade5;
    color: white;
    transition: background-color 0.2s;
    transition: color 0.1s;
    -webkit-transition: background-color 0.2s;
    -webkit-transition: color 0.1s; }
  .submit-button:disabled {
    opacity: 0.3; }
