@import "revolv-settings";

.cms-content-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-top: 102px;

    @media (max-width: 1199px) {
        margin-top: 85px;
        width: 100%;
        max-width: 970px;
    }
    @media (max-width: 991px) {
        margin-top: 185px;
    }
    @media (max-width: 767px) {
        margin-top: 92.5px;
    }

    .cms-content-row {
        font-weight: 400;

        padding: 15px 0;

        > .columns {
            max-width: 960px;
            margin: 0 auto;
        }

        img {
            padding: 10px 20px;

            &.left {
                padding-left: 0;
            }
            &.right {
                padding-right: 0;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 20px;
            font-weight: bold;
        }

        h1 {
            font-size: 32px;
            line-height: 36px;
            color: $revolv-dark-blue;
        }

        h2, h3, h4, h5, h6 {
            color: $revolv-blue;
        }
        h2 {
            font-size: 28px;
            line-height: 30px;
        }
        h3 {
            font-size: 24px;
            line-height: 28px;
        }
        h4 {
            font-size: 20px;
            line-height: 24px;
        }
        h5 {
            font-size: 18px;
            line-height: 20px;
        }
        h6 {
            font-size: 28px;
            line-height: 30px;
        }

        p {
            max-width: 800px;
            font-weight: 400;
        }
    }

    img {
        &.img-inline {
            display: inline;
        }
        &.img-block {
            display: block;
        }
        &.img-left {
            display: block;
            float: left;
        }
        &.img-right {
            display: block;
            float: right;
        }
    }
}
