@import "revolv-settings";

.cms-content-row {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 400;

    img {
        padding: 10px 20px;

        &.left {
            padding-left: 0;
        }
        &.right {
            padding-right: 0;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 20px;
        font-weight: bold;
    }

    h1 {
        font-size: 32px;
        line-height: 36px;
        color: $revolv-dark-blue;
    }

    h2, h3, h4, h5, h6 {
        color: $revolv-blue;
    }
    h2 {
        font-size: 28px;
        line-height: 30px;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
    }
    h4 {
        font-size: 20px;
        line-height: 24px;
    }
    h5 {
        font-size: 18px;
        line-height: 20px;
    }
    h6 {
        font-size: 28px;
        line-height: 30px;
    }

    p {
        max-width: 800px;
        font-weight: 400;
    }
}
