@import "foundation-settings";
@import "bower_components/foundation/scss/foundation";
@import "revolv-settings";

html, body, .main-row {
    height: 100%;
}

.main-row {
    width: 100%;
    min-width: 100%;
}

.dashboard-sidebar {
    padding: 0;
    background-color: $oil;
    height: 100%;

    .role-select {
        color: white;
        width: 100%; // of the sidebar itself
        text-align: center;

        font-family: $lato-font-family;
        font-weight: bold;

        .role-select-inner {
            display: inline-block;
            font-size: 22px;
            line-height: 55px;
        }

        .dashboard-sidebar-chevron {
            display: inline-block;
            color: #999;
            margin-left: 10px;
        }
    }
}
