.dash-box {
  background-color: #e9f6fc;
  padding: 0px 0px;
  border: solid rgba(4, 78, 126, 0.75);
  border-width: 1px;
  margin-bottom: 20px; }
  .dash-box.right {
    width: 73%;
    padding: 10px 10px; }
  .dash-box .subheader {
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 1.4375rem;
    color: #222222;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 0px;
    background-color: rgba(4, 78, 126, 0.75); }

.administrator-button.small {
  width: 15%;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f9f9fa;
  border-width: 2px;
  border-color: rgba(4, 78, 126, 0.75);
  font-weight: 300;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  transition: border-color 200ms linear; }
  .administrator-button.small.active, .administrator-button.small:focus, .administrator-button.small:hover {
    color: black;
    background-color: #f9f9fa;
    border-color: #007295; }

.dashboard-button {
  width: 33%;
  color: black;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #f9f9fa;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  border-width: 2px;
  border-color: #f9f9fa;
  transition: border-color 200ms linear; }
  .dashboard-button.active, .dashboard-button:focus, .dashboard-button:hover {
    color: black;
    background-color: #f9f9fa;
    border-color: rgba(4, 78, 126, 0.75); }

.proj-button {
  width: 100%;
  float: none !important;
  margin: 0px; }

.vertical-dash {
  width: 100%;
  max-width: 100%;
  float: left; }
