@import "foundation-settings";
@import "bower_components/foundation/scss/foundation";
@import "revolv-settings";
@import "utils";
@import "nav";

html, body, .main-row {
    height: 100%;
}

.main-row {
    width: 100%;
    min-width: 100%;
}

$sidebar-header-gray: #5c5c5c;
.dashboard-sidebar {
    padding: 0;
    background-color: $oil;
    height: 100%;
    font-family: $lato-font-family;

    .role-select-options, .dashboard-section {
        padding: 10px 20px;
    }

    .dashboard-header {
        font-size: 13px;
        line-height: 16px;
        color: $sidebar-header-gray;
        text-transform: uppercase;
        margin: 10px auto;
    }

    .role-select {
        color: white;
        width: 100%; // of the sidebar itself
        text-align: center;

        font-weight: bold;

        border-bottom: 1px solid lighten($oil, 10%);

        .role-select-inner {
            display: inline-block;
            font-size: 22px;
            line-height: $revolv-dashboard-header-height;
        }

        .dashboard-sidebar-chevron {
            display: inline-block;
            color: #999;
            margin-left: 10px;
            cursor: pointer;
        }
    }

    .role-select-options {
        border-bottom: 1px solid lighten($oil, 10%);
        display: none; // initially hidden

        .role-select-option {
            margin-left: 10px;
            font-size: 15px;
            line-height: 18px;
            color: #bbb;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .dashboard-sidebar-bullet-point {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        background-color: red;
        width: 6px;
        height: 6px;
        border-radius: 50%;

        &.drafted {
            background-color: $revolv-red;
        }
        &.proposed {
            background-color: $revolv-yellow;
        }
        &.active {
            background-color: $revolv-green;
        }
        &.completed {
            background-color: $revolv-blue;
        }
    }
    .dashboard-sidebar-project {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        line-height: 16px;
        max-width: 80%;
        color: lighten($sidebar-header-gray, 10%);

        &.active {
            color: lighten($sidebar-header-gray, 20%);
        }
    }

    .dashboard-manage-link {
        font-size: 13px;
        line-height: 16px;
        margin-left: 16px;
        color: lighten($sidebar-header-gray, 10%);
        margin-bottom: 5px;

        a, a:visited, a:active, a:hover {
            color: inherit;
            text-decoration: underline;
        }
    }
}

.dashboard-project {
    padding: 0;

    .dashboard-project-header {
        height: $revolv-dashboard-header-height;
        width: 100%;
        padding: 15px;
        font-family: $lato-font-family;

        .sidebar-toggle {
            display: none;
        }

        .title-area {
            display: inline-block;
            height: 100%;

            .title, .project-status {
                display: inline-block;
            }

            .title {
                font-size: 22px;
                font-weight: bold;
                line-height: 22px;
            }

            .project-status {
                margin-left: 10px;

                font-size: 13px;
                line-height: 16px;
                color: #555;
                text-transform: uppercase;
            }

            .location {
                color: #777;
                font-size: 11px;
                line-height: 15px;

                .location-text {
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }

        .controls {
            display: inline-block;
            text-align: right;

            .control-button {
                display: inline-block;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }

                font-size: 13px;
                line-height: 16px;
                color: #555;
                text-transform: uppercase;
                padding: 7px 20px;

                @include revolv-hover-button(#555, inherit);
                &.approve {
                    @include revolv-hover-button($revolv-green, inherit);
                }
                &.deny {
                    @include revolv-hover-button($revolv-red, inherit);
                }
                &.edit {
                    @include revolv-hover-button($revolv-blue, inherit);
                }
            }
        }
    }
}

.cover-photo {
    // HACK: have to use !important because .rows inside .rows have paddings/margins which have
    // a high specificity, do to their selector being ".row .row".
    padding: 0 !important;
    margin: 13px 0 0 0 !important;
    height: 300px;
}
