@import "revolv-settings";

.footer {
    background-color: $revolv-header-color;
    position: relative;
    bottom: 0;

    section {
        padding: 20px;

        &.clear {
            clear: both;
        }
        &:first-child.clear {
            clear: inherit;
        }

        .right-aligned-text {
            text-align: right;
        }

        a, a:active, a:visited {
            color: inherit;
        }
        a:hover, a.underline {
            text-decoration: underline;
        }

        h3 {
            font-size: $revolv-footer-heading-font-size;
            font-weight: 400;
            margin: 20px 0 10px 0;
            color: white;
        }

        ul {
            list-style-type: none;
            margin: 0;
        }

        $logo-dimension: 120px;
        li, p {
            font-size: $revolv-footer-heading-font-size;
            line-height: $revolv-footer-heading-font-size + 7px;
            color: $revolv-footer-text-color;
            font-weight: 100;
            margin-top: 0;
            margin-bottom: 5px;


            .logo {
                display: inline-block;
                width: $logo-dimension;
            }
        }
    }
}
