@import "utils";
@import "foundation-settings";
@import "bower_components/foundation/scss/foundation";
@import "revolv-settings";
@import "common/active-project";
@mixin vertically-centered() {
    display: inline-block;
    vertical-align: middle;
}

@mixin vertically-centered-block() {
    position: relative;
    top: calc(50% + 40px);
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

@mixin vertically-centered-parent() {
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    font-size: 0;
}

@mixin absolute-center() {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    height: 50%;
}

@mixin dark-shade($opacity) {
    position: absolute;
    z-index: $revolv-shade-z-index;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, $opacity);
}

@mixin ellipsis-overflow() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin soft-header-text($font-size) {
    font-size: $font-size;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.8);
}

body {
    background-color: $revolv-tan-bg;
}

// --- Cover Image Styles ----------------------------------------------------------------

.cover {
    width: 100%; 
    height: 600px;
    overflow: hidden;
    position: relative;

    h1 {
        color: white;
        text-align: center;
        text-shadow: 2px 2px black;
    }

    p {
        font-size: $revolv-cover-inset-paragraph-size;
        line-height: $revolv-cover-inset-paragraph-size + 6px;
        text-align: center;
        text-shadow: 2px 2px black;
        font-weight: 200;
        color: white;
        padding-top: 30px;
        line-height: 30px;
        margin: 0;
    }

    .shade {
        @include dark-shade(0.3);
    }

    .cover-inset {
        @include absolute-center();
        width: 600px;
        z-index: 1;
        text-align: center;
    }

    .cover-video {
        width: 100%;
    }

    .mobile-cover {
        display: none;
    }
}

.spacer {
    height: 0px !important;
}


.view-active-projects{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 10px;
    p{
        display: inline;
        background-color: #11ade5;
         padding: 15px 20px;
         border-radius:5px;
        &:hover{
             background-color:#064f7e;
        }
    }
    a{
        color:white;

    }
}
// --- Current Project Styles ------------------------------------------------------------
.current-project {
    position: relative;
    width: 75%;
    height: 450px;
    padding: 30px;
    box-sizing: border-box;
    color: white;

    a {
        color: white;
    }

    h1 {
        color: white;
    }

    .current-project-inset {
        width: 50%;
        padding: 30px;
        box-sizing: border-box;
        white-space: pre-wrap;
    }

    // Progress circle styles
    .graphics-container {
        position: absolute;
        width: 250px;
        height: 250px;
        top: calc(50% - 125px);
        right: 60px;

        .svg-graphics-container {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
        }

        .internal-graphics-container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }

        .project-badge-line, .project-badge-circle {
          fill: none;
        }

        .project-badge-line {
          stroke: $revolv-blue;
        }

        .project-badge-circle {
          stroke: white;
        }

        .text-container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            height: 220px;
            width: 220px;
            color: $revolv-dark-blue;

            .percentage-text {
                position: absolute;
                left: 50%;
                top: 45%;
                transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
            }

            .funded {
                position: absolute;
                font-weight: 800;
                left: 50%;
                top: 60%;
                transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
            }
        }
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
    }
}


.divider-title {
    font-size: 24px;
    margin: 30px auto;
    width: 75%;
    color: $revolv-dark-blue;
    font-weight: 100;

    @include text-with-divider($revolv-signin-header-font-size, $divider-color: $revolv-dark-blue, $bg-color: $revolv-tan-bg);

    margin-bottom: 1.5em; // override
    &.heading-error {
        color: $revolv-red;
        @include text-with-divider($revolv-signin-header-font-size, $divider-color: $revolv-red, $bg-color: $revolv-tan-bg);
        margin-bottom: 1.5em; // override
    }
}

// --- About RE-volv Styles --------------------------------------------------------------

.nav-spine {
    position: fixed;
    top: 0px;
    width: 5px;
    height: 400px;
    margin-top: 100px;
    background-color: $revolv-about-font-color;

    .nav-spine-item {
        position: absolute;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        background-color: $revolv-about-font-color;
        color: white;
        left: -18px;
        text-align: center;
    }

    .first {
        top: 0px;
        background-color: $revolv-first-item-dark-blue;
    }
    .second {
        top: 180px;
        background-color: $revolv-second-item-light-blue;
    }
    .third {
        top: 360px;
        background-color: $revolv-third-item-yellow;
    }

    .first-caption {
        color: $revolv-header-color;
    }
    .second-caption {
        color: $revolv-light-blue;
    }
    .third-caption {
        color: $revolv-yellow;
    }

    figure {
        height: 150px;
        width: 200px;
    }

    figcaption {
        font-size: 24px;
    }
}

.about {
    position: relative;
    width: 600px;
    text-align: center;
    color: $revolv-about-font-color;

    h1 {
        font-size: $revolv-about-inset-title-size;
        line-height: $revolv-about-inset-title-size;
        color: $revolv-about-font-color;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 36px;
        line-height: 36px;
        color: $revolv-about-font-color;
    }

    p {
        font-size: $revolv-about-inset-paragraph-size;
    }

    .about-inset {
        margin: 0 auto;
        padding: 30px 30px;
    }

    .person {
        height: 144px;
    }

    .coin {
        height: 72px;
        margin: 0px 10px;
        margin-bottom: -84px;
    }

    .factory {
        margin-top: 248px;
        height: 400px;
        width: 205px
    }

    .main-panel {
        position: absolute;
        height: 100px;
        width: 190px;
        top: 890px;
        left: 50%;
        margin-left: -95px;
        z-index: -1;
        transform: scale(0.2);
    }

    .main-house {
        margin-top: 254px;
        height: 254px;
    }

    .solar-panel {
        position: absolute;
        height: 50px;
        top: -50px;
        left: 50px;
        margin-left: -25px;
    }

    .step {
        display: none;
    }

    .house {
        height: 84px;
    }

    .grouping {
        display: inline-block;
        position: relative;
        height: 140px;
        width: 140px;
        margin: 140px 20px;
    }
}

.button {
    height: auto;
    line-height: initial;
    font-size: 24px;
    border-radius: 5px;
    color: white;
    margin: 30px auto;
}

.learn-more {
    line-height: 16px;
    font-size: 16px;
    border-width: 2px;
    border-color: white;
    background: transparent;
}
.learn-more:hover {
    color: white;
    background: $revolv-header-color
}

.donate {
    background-color: #1bb580;
}
.donate:hover {
    background-color: #137F5A;
}

// --- Mobile Responsiveness Styles ------------------------------------------------------

@media #{$small-only} {
    // extra qualifiers for more specificity in order to overload non-mobile styles
    .about {
        width: 100%;
        h1 {
            font-size: 28px;
            line-height: 36px;
        }
        h2 {
            font-size: 20px;
            line-height: 30px;
        }
        .grouping {
            margin-bottom: 0px;
        }
    }

    .button {
        margin-top: 10px;
        font-size: 16px;
        width: 80%;
    }

    .divider-title {
        font-size: 18px;
        width: 90%;
    }

    .current-project {
        height: 400px;
        width: 100%;
        margin: 50px auto;
        .current-project-inset {
            width: 100%;
        }
        .current-project-inset h1 {
            text-align: center;
        }
        .current-project-inset p {
            display: none;
        }
        .graphics-container {
            width: 100%;
            top: 45%;
            right: 0%;
        }
    }

    .learn-more {
        margin-top: 15px;
    }
}

@media #{$small-only} and (orientation: portrait) {
    // extra qualifiers for more specificity in order to overload non-mobile styles
    .about {
        .grouping {
            height: 70px;
            width: 70px;
            margin: 140px 5px;
        }
        .person {
            height: 100px;
        }
        .coin {
            height: 50px;
        }
        .main-panel {
            height: 95px;
        }
        .main-house {
            height: 200px;
        }
        .solar-panel {
            top: -28px;
            margin-left: -45px;
        }
    }
}

@media #{$small-only} and (orientation: landscape) {
    .about {
        .grouping {
            height: 70px;
            width: 100px;
            margin: 140px 10px;
        }
        .main-panel {
            height: 70px;
        }
        .main-house {
            height: 200px;
        }
        .solar-panel {
            top: -46px;
            margin-left: -45px;
        }
    }

    .cover {
        height: 400px;
    }

    .current-project {
        height: 300px;
        .graphics-container {
            top: 25%;
        }
    }
}

@media #{$small-only}, #{$medium-only} {
    // extra qualifiers for more specificity in order to overload non-mobile styles
    .cover {
        h1 {
            color: white;
            text-align: center;
            text-shadow: 2px 2px black;
        }
        p {
            font-size: $revolv-cover-inset-paragraph-size - 2px;
            line-height: $revolv-cover-inset-paragraph-size + 6px;
        }
        .learn-more {
            width: 100%;
            font-size: 15px;
        }
        .cover-inset {
            width: 75%;
        }
        .cover-video {
            display: none;
        }
        .cover-video-link {
            pointer-events: none;
            cursor: default;
        }
        .mobile-cover {
            display: block;
            height: 100%;
            object-fit: cover;
        }
        .shade {
            height: 600px;
        }
    }

    body {
        height: 100% !important;
    }

    .nav-spine {
        display: none;
    }

    .about {
        .factory {
            margin-top: 48px;
        }
        .main-house {
            margin-top: 54px;
        }
        .step {
            display: block;
            height: 150px;
            margin: 25px auto;
        }
        .grouping {
            margin: 70px 8px 140px;
        }
    }

}

@media #{$medium-only} {
    .cover {
        .learn-more {
            width: 50%;
            font-size: 15px;
        }
    }
}
