@import "revolv-settings";

.cover-image {
    background: url(/static/images/solar-worker-stockphoto.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: block;
    width: 100%;
    height: $revolv-cover-photo-height;
    margin-bottom: 20px;
}
