@import "foundation-settings";
@import "revolv-settings";
@import "bower_components/foundation/scss/foundation";
@import "modal";
@import "nav";

body {
    background-color: $revolv-tan-bg;
    font-weight: 300;
    font-family: $body-font-family;
    font-size: 1rem;
}

p, h2, h3, h4 {
    font-weight: 300;
    font-family: $body-font-family;
}

input, select, textarea {
    &.error {
        // HACK: have to use !important because foundation css files
        // can be loaded after main.scss in apps (e.g., for project.scss,
        // foundation files need to be imported at the top, and project.css
        // gets loaded after main.css)
        margin-bottom: 1rem !important;
        border-color: $revolv-error-color !important;
    }
}

.table {
    display: table;
}

.table-cell-middle {
    display: table-cell;
    vertical-align: middle;
}

@import "footer";

@media #{$medium-up} {
    .table-social-accounts button.submit-button {
        margin-left: 25%;
        width: 50%;
    }
}

.social-title {
  font-size: 24px;
  margin: 30px auto;
  width: 75%;
  color: #064f7e;
  font-weight: 100;
  display: block;
  height: 0.5em;
  line-height: 1em;
  border: none;
  text-align: center;
  font-size: 25px;
  margin-bottom: 1.5em;
}
table.table-social-accounts {
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
}
button.submit-button.gray {
    background-color: transparent;
    color: #b3b3c0;
    border: 1px solid #b3b3c0;
}
button.submit-button.gray:hover {
    background-color: #b3b3c0;
    color: white;
}
.table-social-accounts th{
  text-align: center;
}