@import "foundation-settings";
@import "bower_components/foundation/scss/foundation";
@import "modal";
@import "nav";
@import "dashboard";

body {
    background-color: $revolv-gray-bg;
    font-weight: 300;
    font-family: $body-font-family;
    font-size: 1rem;
}

p, h2, h3, h4 {
    font-weight: 300;
    font-family: $body-font-family;
}

// TODO: make this less hacky
input, select, textarea {
    &.error {
        margin-bottom: 1rem !important;
        border-color: $revolv-error-color !important;
    }
}

@import "footer";
