@import "foundation-settings";
@import "bower_components/foundation/scss/foundation";

// Mixin for keyframes
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
    @-moz-keyframes #{$name} { @content; }
    @-ms-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
}

// Mixin for animations
@mixin animation($prop) {
    -webkit-animation: $prop;
    -moz-animation: $prop;
    -o-animation: $prop;
    animation: $prop;
}

//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

.revolv-reveal-modal-table {
    position: fixed;
    display: none;
    opacity: 0;
    table-layout: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.open {
        opacity: 1;
        z-index: 1005;
        display: table !important;
    }

    > .modal-cell {
        display: table-cell;
        height: 100%;
        width: 100%;
        vertical-align: middle;
    }

    @media #{$small-only} {
        display: block;

        > .modal-cell {
            display: block;
        }
    }
}

.modal-content {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    box-shadow: none;
    border-radius: 3px;
    background-color: white;

    @media #{$small-only} {
        width: 100% !important;
        height: 100% !important;
        border-radius: initial !important;
    }

    .modal-header {
        background-color: $revolv-light-blue-bg;
        min-height: $revolv-header-height * (5/6);

        > .modal-title {
            padding: 0 ($column-gutter / 2);
            display: block;
            height: $revolv-header-height * (5/6);
            line-height: $revolv-header-height * (5/6);
        }

        > .modal-errors {
            padding: 0 ($column-gutter / 2);
            display: none;
            visibility: hidden;
            background-color: darken($revolv-gray-bg, 10%);
            min-height: $revolv-header-height * (5/6);
            padding-top: ($column-gutter / 2);
            padding-bottom: ($column-gutter / 2);

            .error-list {
                padding: 0;
                margin: 0;
                margin-left: $column-gutter;
            }

            &.error {
                display: block;
                visibility: visible;
            }
        }
    }

    .modal-section {
        @include clearfix;
        width: 100%;
        border-top: 1px solid darken($revolv-gray-bg, 10%);
        padding-top: ($column-gutter / 2);

        &:first-of-type {
            border-top: none;
        }

        &:last-of-type {
            padding-bottom: ($column-gutter / 2);
        }

        &.table {
            padding: 0;
        }
    }

    .modal-footer-button-group {
        list-style: none;
        margin: 0;

        > li {
            display: inline-block;
        }
    }

    .modal-footer {
        width: 100%;
        padding: 0 ($column-gutter / 2);
        padding-top: ($column-gutter / 2);
        border-top: 1px solid darken($revolv-gray-bg, 10%);

        > .modal-footer-button-group {
            list-style: none;
            margin: 0;
            margin-bottom: ($column-gutter / 2);

            > li {
                display: inline-block;
            }
        }
    }
}

@include keyframes(check) {
    0% { height: 0; width: 0; }
    25% { height: 0; width: 30px; }
    50% { height: 60px; width: 30px; }
}

label.checkmark {
    position: relative;
    display: block;
    height: 120px;
    width: 120px;
    border: 5px solid lighten($revolv-blue, 40%);
    border-radius: 50%;
    margin: 0 auto ($column-gutter / 2) auto;

    &:after {
        @include transform(scaleX(-1) rotate(180deg + -45deg));
        @include transform-origin(left top);

        // The borders
        border-right: 5px solid $revolv-blue;
        border-top: 5px solid $revolv-blue;

        // Positioning and stuff
        content: '';
        height: 60px;
        left: 24px;
        position: absolute;
        top: 60px;
        width: 30px;
        display: none;
    }

    &.animate {
        &:after {
            display: block;
            @include animation(check 0.8s);
        }
    }

}