@import "revolv-settings";

$header-color: $revolv-header-color;
$header-height: $revolv-header-height;
.header-small-text {
    font-size: 14px;
    line-height: $header-height;
}

$header-page-padding: 20px;

nav.header {

    $logo-dimension: $header-height - 5px;
    .logo-container {
        display: inline-block;
        margin: 0 $header-page-padding;

        .logo {
            display: inline-block;
            width: $logo-dimension;
            margin: 0 5px 0 0;
        }

        .tagline {
            color: white;
            @extend .header-small-text;
        }
    }
}
