@import "revolv-settings";

$header-color: $revolv-header-color;
$header-height: $revolv-header-height;
.header-small-text {
    font-size: 14px;
    line-height: $header-height;
    color: white;
}

.spacer {
    height: $header-height;
}

$header-page-padding: 20px;

nav.header {
    $logo-dimension: $header-height;
    .logo-container {
        display: inline-block;
        margin: 0 $header-page-padding 0 0;

        .logo {
            vertical-align: middle;
            display: inline-block;
            width: $logo-dimension;
            margin: 0 10px 0 10px;
        }

        .tagline {
            vertical-align: middle;
            color: white;
            font-size: 12px;
            font-weight: 300;
            display: inline-block;
            margin-right: 10px;
            height: 40px;

            .line {
                display: block;
                height: 20px;
                line-height: 20px;
            }
        }
    }

    /**
     * Foundation will by default show all the menu items on the mobile version
     * of the top bar, but we want to prevent it from showing the user's username
     * at the second level, since they've already clicked on it.
     */
    .user-controls > .dropdown a.js-generated {
        display: none;
    }
}

nav.row.header.top-bar, .top-bar-section ul li {
    background: transparent !important;
    margin-bottom: 0px;
}

@media #{$small-only} and (orientation: portrait) {
    nav.header .tagline {
        display: none !important;
    }
}

div.nav-bg-wrap {
    position: fixed;
    width: 100%;
    background-color: $revolv-header-color;
    z-index: 99;
}
