@import "revolv-settings";

$header-color: $revolv-header-color;
$header-height: $revolv-header-height;
.header-small-text {
    font-size: 14px;
    line-height: $header-height;
}

$header-page-padding: 20px;

nav.header {

    $logo-dimension: $header-height - 5px;
    .logo-container {
        display: inline-block;
        margin: 0 $header-page-padding;

        .logo {
            display: inline-block;
            width: $logo-dimension;
            margin: 0 5px 0 0;
        }

        .tagline {
            color: white;
            @extend .header-small-text;
        }
    }

    /**
     * Foundation will by default show all the menu items on the movile version
     * of the top bar, but we want to prevent it from showing the user's username
     * at the second level, since they've already clicked on it.
     */
    .user-controls > .dropdown a.js-generated {
        display: none;
    }
}

@media #{$small-only} and (orientation: portrait) {
    nav.header .tagline {
        display: none !important;
    }
}
