@import "revolv-settings";

$header-color: $revolv-header-color;
$header-height: $revolv-header-height;
.header-small-text {
    font-size: 14px;
    line-height: $header-height;
}

$header-page-padding: 20px;

nav.header {
    display: block;
    width: 100%;

    $logo-dimension: $header-height - 5px;
    .logo-container {
        display: inline-block;
        height: $header-height;
        margin: 0 $header-page-padding;

        .logo {
            display: inline-block;
            width: $logo-dimension;
            margin: 0 5px 0 0;
        }

        .tagline {
            color: white;
            @extend .header-small-text;
        }
    }
}

/**
 * Foundation provides this media query interface: when we're working with a
 * small screen (i.e. portrait OR landscape mobile) then we don't show the
 * tagline in order to make room for the user welcome (the tagline is too long
 * to fit on portriat mobile screens, and making the text smaller would make it
 * hard to read).
 */
@media #{$small-only} {
    .tagline {
        display: none;
    }
}
