@import "foundation-settings";
@import "bower_components/foundation/scss/foundation";

.payment-modal-content {
    width: 300px;
}
.confirm-modal-content {
    width: 600px;
}
.success-modal-content {
    width: 400px;
}

.condense {
    > .columns {
        padding-left: $column-gutter / 4;
        padding-right: $column-gutter / 4;

        &:first-child {
            padding-left: $column-gutter / 2;
        }
        &:last-child {
            padding-right: $column-gutter / 2;
        }
    }
}

.cc-type-list {
    list-style: none;
    margin: 0;

    > li {
        display: inline-block;
    }

    [class^="cc-type-"] {
        opacity: 0.5;
        transition: all 0.3s;

        &.active {
            opacity: 1;
        }
    }
}

body {
    font-family: Lato;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100rem;

    &.heading {
        height: 500px;
    }

    &.about, &.project-updates, &.dashboard {
        margin-right: 15%;
        margin-left: 15%;
        max-width: 70%;
    }

    &.dashboard {
        height: 250px;
    }

    &.categories {
        max-width: 100%;
    }
}

.header-img-div {
    width: 100%;
    height: 500px;
    position: absolute;

    .overlay {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
        background: black;
        position: absolute;
        
        .donate-button-header {
            opacity: 1.0;
            border-color: white;
            border-width: 2px;
            border-style: solid;
            width: 15%;
            height: 10%;
            top: 410px;
            left: 80%;
            z-index: 100;
            position: absolute;

            p {
                opacity: 1.0;
                width: 100%;
                height: 100%;
                margin: 5% 0px;
                color: white;
                text-align: center;
            }

            &:hover {
                background-color: white;

                p {
                    color: black;
                    font-weight: 500;
                }
            }
        }

        .project-title {
            opacity: 1.0;
            color: white;
            font-size: 2rem;
            font-weight: 800;
            top: 410px;
            left: 5%;
            position: absolute;

        }
    }
}

.about {
    .header-text {
        p {
            font-weight: 800;
            color: black;
            font-size: 1.8rem;
        }
    }
    .gray-bar {
        background-color: #777777;
        height: 1px;
        width: 100%;
    }

    .categories {
        max-width: 100%;
        height: 50px;


        .category-text {
            display: inline-block;
            color: #777777;
            margin-left: 15px;
            height: 30px;

            .category-text-inside {
                line-height: 30px;
            }
        }

        .category-holder {
            display: inline-block;
            border-color: #777777;
            border-style: solid;
            border-width: 1px;
            width: 15%;
            height: 30px;
            margin-top: 10px;

            .category-label {
                color: #777777;
                text-align: center;
                line-height: 30px;
            }
        }
    }

    .about-text {
        p {
            font-weight: 500;
            font-size: 1.5rem;
        }
        margin-bottom: 80px;
    }

}

.project-updates {
    .header-text {
        p {
            font-weight: 800;
            color: black;
            font-size: 1.8rem;
        }
    }
    .gray-bar {
        background-color: #777777;
        height: 1px;
        width: 100%;
    }

    .update-container {
        margin-top: 10px;
        margin-bottom: 25px;
        display: inline-block;

        .date-container {
            height: 50px;
            width: 100%;
            text-align: center;
            color: $revolv-blue;
            font-weight: 300;
            line-height: .5;

            .date-year {
                font-size: 4.5rem;
                margin-bottom: 0rem;
                line-height: 1;
            }

            .date-month-day {
                font-size: 1.5rem;
                line-height: 1;
            }
        }

        .update-text {
            font-weight: 500;
            font-size: 1.5rem;
        }
    }
}

.map {
    height: 400px;
    margin-top: 40px;
    margin-bottom: 40px;

    #map-canvas {
        width: 100%;
        height: 100%;
    }


    .overlay {
        background-color: black;
        opacity: 0.5;
        float: left;
        height: 400px;
        width: 40%;
        position: absolute;
        margin-top: -400px;
    }

    .text-container {
        position: absolute;
        color: white;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 35px;

        .title-container {
            p {
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 1.8rem;
            }
        }

        .address-container {
            p {
                font-weight: 500;
                font-size: 1.5rem;
                margin: 0;
                line-height: 1.5rem;
            }
        }
    }

    .donate-button-header {
        border-color: white;
        border-width: 2px;
        border-style: solid;

        width: 80%;
        height: 70px;
        z-index: 100;
        opacity: 1.0;
        margin: 305px 10% 25px 10%;

        p {
            opacity: 1.0;
            width: 100%;
            height: 100%;
            color: white;
            text-align: center;
            line-height: 70px;
            font-size: 2rem;
            font-weight: 800;
        }

        &:hover {
            background-color: white;

            p {
                color: black;
            }
        }
    }
}


.confirm-column {
    .table {
        width: 100%;
    }

    .table-cell-middle {
        width: 100%;
        height: 120px;
    }

    span.confirm-info-amount {
        font-weight: bold;
        font-size: 30px;
    }

    ul.confirm-info-card {
        list-style: none;
        margin: 0;
        margin-left: $column-gutter;
    }
}

.confirm-text {
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: ($column-gutter / 2) 0;
}

.success-check {
    width: 300px;
    height: 300px;
    margin: 0 20px 20px 20px;
}