@import "foundation-settings";
@import "bower_components/foundation/scss/foundation";

#reinvest-modal .payment-modal-content {
    width: 400px;
}
#success-reinvest-modal .modal-footer-button-group {
    text-align: center;
}
#success-reinvest-modal .modal-footer-button-group, #reinvest-modal .modal-footer-button-group {
    text-align: center;
}
.payment-modal-content {
    width: 300px;
}
.confirm-modal-content {
    width: 600px;
}
.success-modal-content {
    width: 400px;
}

.condense {
    > .columns {
        padding-left: $column-gutter / 4;
        padding-right: $column-gutter / 4;

        &:first-child {
            padding-left: $column-gutter / 2;
        }
        &:last-child {
            padding-right: $column-gutter / 2;
        }
    }
}

.cc-type-list {
    list-style: none;
    margin: 0;

    > li {
        display: inline-block;
    }

    [class^="cc-type-"] {
        opacity: 0.5;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;

        &.active {
            opacity: 1;
        }
    }
}

body {
    font-family: Lato, sans-serif;
}

$gray-3: #333333;
$gray-4: #444444;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;

.row {
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100rem;

    &.heading {
        height: 500px;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }

    &.about, &.project-updates, &.dashboard {
        margin-right: 15%;
        margin-left: 15%;
        max-width: 70%;
    }

    &.categories {
        max-width: 100%;
    }
}
.header-img-div {
    width: 100%;
    height: 380px;
    position: relative;
    background-size: cover;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);

        $donate-header-button-height: 60px;
        .donate-button-header {
            position: absolute;
            border: 2px solid white;
            width: 20%;
            height: $donate-header-button-height;
            bottom: 40px;
            right: 5%;
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;

            z-index: 2; // should be higher than .dashboard, since both are position: absolute

            .donate-link {
                width: 100%;
                height: 100%;
                display: inline-block;

                p {
                    height: 0;
                    line-height: $donate-header-button-height - 4px;
                    color: white;
                    text-align: center;
                    font-weight: 800;
                    font-size: 1.8rem;
                    transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                }
            }

            &:hover {
                background-color: white;

                p {
                    color: black;
                    font-weight: 800;
                }
            }
        }

        .project-title {
            position: absolute;
            color: white;
            font-size: 2rem;
            font-weight: 800;
            top: 280px;
            left: 5%;
            width: 30%;
            line-height: 2rem;

        }
    }
}

.dashboard {
    position: absolute;
    height: 600px;
    z-index: 1;
    top: 170px;

    .statistics-graphics-container {
        height: 100%;
        width: 100%;

        .bar {
            width: 100%;
            height: 40px;
            position: absolute;
            font-weight: 300;

            &.top-bar {
                background-color: $revolv-blue;
                top: 50%;
                margin: 0;

                .amount-donated {
                    width: 30%;
                }
            }

            &.bottom-bar {
                position: absolute;
                background-color: #064f7e;
                top: 60%;
            }

            .container {
                position: relative;
                color: white;
                width: 100%;
                height: 100%;
                margin: 0;
                .statistic {
                    line-height: 40px;
                    font-size: 1.4rem;
                    font-weight: 300;

                    &.left-text {
                        float: left;
                        height: 100%;
                        margin: 0 0 0 20px;
                    }

                    &.right-text {
                        float: right;
                        height: 100%;
                        margin: 0 20px 0 0;
                    }
                }
            }
        }

        .svg-graphics-container {
            // this contains the formatting for the white outside circle - this works
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .internal-graphics-container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }

        .project-badge-line, .project-badge-circle {
          fill: none;
        }

        .project-badge-line {
          stroke: $revolv-blue;
        }

        .project-badge-circle {
          stroke: white;
        }

        .text-container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            height: 220px;
            width: 220px;
            color: $revolv-dark-blue;

            .percentage-text {
                position: absolute;
                left: 50%;
                top: 45%;
                transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
            }

            .funded {
                position: absolute;
                font-weight: 800;
                left: 50%;
                top: 60%;
                transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
            }
        }
    }
}
.draft-mode-div{
    text-align: right;
    margin-right: 15%;
    margin-left: 15%;
    max-width: 70%;
    margin-top: 30px;
    background-color: yellow;
    padding: 10px;
    box-shadow: 1px 1px 1px #888888;
    .draft-mode-title{
        display: block;
    }
    .draft-mode-detail-text{
    }
}
.about {
    margin-top: 50px;

    .header-text {
        p {
            font-weight: 800;
            color: $gray-4;
            font-size: 1.8rem;
        }
    }

    .about-column {
        padding: 0;
    }

    .gray-bar {
        background-color: $gray-9;
        height: 1px;
        width: 100%;
        margin-bottom: 10px;
    }

    .categories {
        max-width: 100%;
        line-height: 56px;
        margin-bottom: 10px;


        .category-text {
            display: inline-block;
            color: $gray-8;
            margin-left: 15px;
            margin-right: 20px;
            height: 30px;

            .category-text-inside {
                line-height: 30px;
                font-size: 0.8rem;
            }
        }

        .category-holder {
            display: inline-block;
            border: 1px solid $gray-8;
            width: auto;
            padding: 0 10px;
            min-width: 15%;
            height: 30px;
            margin: 10px 15px inherit 15px;

            .category-label {
                color: $gray-8;
                text-align: center;
                line-height: 28px;
            }
        }
    }

    .rewards-container {

        .gray-bar {
            visibility: hidden;
        }

        .rewards-text {
            margin-left: 20px;
            margin-top: 15px;
            color: $gray-8;

            .rewards-text-inside {
                font-size: 0.8rem;
            }
        }

        .donation-level-box {
            width: 95%;
            margin-left: 5%;
            margin-right: 0%;
            margin-bottom: 10%;
            background-color: #f0f0f0;
            border: 1px solid white;
            transition: all 0.1s;
            -moz-transition: all 0.1s;
            -webkit-transition: all 0.1s;
            color: $gray-7;


            .donation-level-header {
                font-size: 2rem;
                font-weight: 800;
                padding-top: 15px;
                padding-left: 20px;
                transition: all 0.1s;
                -moz-transition: all 0.1s;
                -webkit-transition: all 0.1s;
            }

            .donation-level-text {
                margin-left: 15px;
                color: $gray-8;
                font-weight: 300;
                margin-right: 5%;
                font-size: 0.8rem;
                padding-bottom: 20px;
                white-space: pre-wrap;
            }

            &:hover {
                border: 1px solid $gray-9;
                color: $revolv-blue;
            }
        }
    }

    .about-text {
        p {
            font-weight: 500;
            font-size: 1.2rem;
            color: $gray-3;
            white-space: pre-wrap;
        }
        margin-bottom: 80px;
    }

}

.project-updates {
    .header-text {
        p {
            font-weight: 800;
            color: $gray-4;
            font-size: 1.8rem;
        }
    }
    .gray-bar {
        background-color: $gray-9;
        height: 1px;
        width: 100%;
    }

    .update-container {
        margin-top: 40px;
        width: 100%;
        margin-bottom: 40px;
        display: inline-block;
        position: relative;

        .update-column {
            padding: 0;
        }

        .date-container {
            height: 50px;
            width: 100%;
            text-align: left;
            color: $revolv-dark-blue;
            font-weight: 300;
            line-height: 0.5;

            .date-year {
                font-size: 4.5rem;
                margin-bottom: 0;
                line-height: 4.5rem;
                font-weight: 300;
            }

            .date-month-day {
                font-size: 1.2rem;
                line-height: 1.2rem;
            }
        }

        .update-text p {
            font-weight: 500;
            font-size: 1.2rem;
            color: $gray-3;
            white-space: pre-wrap;
        }
    }
}

$map-height: 400px;

.map {
    margin-top: 40px;
    margin-bottom: 50px;
    height: $map-height;

    .map-canvas {
        position: absolute;
        width: 100%;
        height: $map-height;
        margin: 0;
        padding: 0;

        img {
            max-width: none;
        }
    }

    .overlay {
        background: rgba(0, 0, 0, 0.65);
        float: left;
        height: 400px;
    }

    .map-cover {
        background: rgba(0,0,0,0);
        height: $map-height;
        float: right;
    }

    .text-container {
        position: absolute;
        color: white;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 35px;

        .title-container {
            p {
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 1.8rem;
            }
        }

        .address-container {
            p {
                font-weight: 500;
                font-size: 1.5rem;
                margin: 0;
                line-height: 1.5rem;
            }
        }
    }

    .donate-button-header {
        border: 2px solid white;
        width: 80%;
        height: 70px;
        z-index: 100;
        margin: 305px 10% 25px 10%;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;

        p {
            width: 100%;
            height: 100%;
            color: white;
            text-align: center;
            line-height: 70px;
            font-size: 2rem;
            font-weight: 800;
        }

        &:hover {
            background-color: white;

            p {
                color: black;
            }
        }
    }
}


.confirm-column {
    .table {
        width: 100%;
    }

    .table-cell-middle {
        width: 100%;
        height: 120px;
    }

    span.confirm-info-amount {
        font-weight: bold;
        font-size: 30px;
    }

    ul.confirm-info-card {
        list-style: none;
        margin: 0;
        margin-left: $column-gutter;
    }
}

.confirm-text {
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: ($column-gutter / 2) 0;
}

.success-check {
    width: 300px;
    height: 300px;
    margin: 0 20px 20px 20px;
}

// --- Mobile Responsiveness Styles ------------------------------------------------------
@media #{$small-only}, #{$medium-only} {
    .about {
        .rewards-container {
            .rewards-text {
                margin: 0;

                .rewards-text-inside {
                    font-weight: 800;
                    color: $gray-4;
                    font-size: 1.5rem;
                    margin: 0;
                }
            }

            .gray-bar {
                visibility: visible;
                margin-bottom: 20px;
            }

            .donation-level-box {
                width: 100%;
                padding: 0;
                margin: 0 0 20px 0;
            }
        }
    }
}

@media #{$small-only} {
    .project-updates {

        .update-column {
            padding-left: 0px;
            padding-right: 0px;
        }

        .update-container {
            margin: 10px 0px;

            .date-container {
                text-align: left;
                margin-bottom: 50px;

            }

            .update-text p {
                font-weight: 500;
                font-size: 1rem;
            }
        }
    }

    $map-height: 250px;

    .map {

        height: $map-height;

        .map-canvas {
            height: $map-height;

            img {
                max-width: none;
            }
        }

        .overlay {
            height: $map-height;
        }

        .text-container {
            .title-container {
                p {
                    font-size: 1rem;
                    line-height: 1rem;
                }
            }

            .address-container {
                p {
                    font-size: 0.8rem;
                    line-height: 1rem;
                }
            }
        }

        .donate-button-header {
            margin: 175px 10% 25px 10%;
            height: 50px;

            p {
                line-height: 45px;
                font-size: 1rem;
                font-weight: 800;
            }
        }
    }

    .dashboard {
        height: 700px;
        z-index: 1;
        top: 0;

        .statistics-graphics-container {
            height: 500px;
            .bar {
                height: 35px;

                &.top-bar {
                    top: 65%;
                }
                &.bottom-bar {
                    top: 72%;
                }
            }

            .container {
                .statistic {

                    &.left-text {
                        float: left;
                        height: 100%;
                        margin: 0 0 0 10px;
                        font-size: 0.8rem;
                        line-height: 35px;

                    }

                    &.right-text {
                        float: right;
                        height: 100%;
                        margin: 0 10px 0 0;
                        font-size: 0.8rem;
                        line-height: 35px;

                    }
                }
            }
        }
    }

    .header-img-div {
        height: 270px;

        .overlay {

            $donate-header-button-mobile-height: 50px;
            .donate-button-header {
                left: 15%;
                width: 70%;
                height: $donate-header-button-mobile-height;
                top: 190%;
                border-color: $revolv-dark-blue;
                z-index: 1000;

                .donate-link {
                    line-height: 40px;
                    margin-top: 0px;

                    p {
                        height: 100%;
                        line-height: $donate-header-button-mobile-height - 4px;
                        color: $revolv-dark-blue;
                        font-size: 1.2rem;
                    }
                }
            }

            .project-title {
                font-size: 1.5rem;
                line-height: 1.5rem;
                top: 140px;
                width: 100%;
                text-align: center;
                left: 0;
            }
        }
    }



    .about {

        margin-top: 125px;
        .header-text {
            p {
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
        }

        .categories {
            margin: 0;

            .category-text {
                margin: 0;
            }

            .category-holder {
                display: block;
                margin: 0;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 15px;
                }
            }
        }

        .about-text {
            p {
                font-size: 1rem;
            }
        }

    }
}

@media #{$medium-only} {
    .dashboard {
        .statistics-graphics-container {
            .container {
                .statistic {
                    &.left-text {
                        font-size: 0.9rem;
                    }

                    &.right-text {
                        font-size: 0.9rem;

                    }
                }
            }
        }
    }
}
