@import "foundation-settings";
@import "bower_components/foundation/scss/foundation";

.payment-modal-content {
    width: 300px;
}
.confirm-modal-content {
    width: 600px;
}
.success-modal-content {
    width: 400px;
}

.condense {
    > .columns {
        padding-left: $column-gutter / 4;
        padding-right: $column-gutter / 4;

        &:first-child {
            padding-left: $column-gutter / 2;
        }
        &:last-child {
            padding-right: $column-gutter / 2;
        }
    }
}

.cc-type-list {
    list-style: none;
    margin: 0;

    > li {
        display: inline-block;
    }

    [class^="cc-type-"] {
        opacity: 0.5;
        transition: all 0.3s;

        &.active {
            opacity: 1;
        }
    }
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100rem;

    &.about, &.project-updates {
        margin-right: 10%;
        margin-left: 10%;
        max-width: 80%;
    }
}

.header-img-div {
    width: 100%;
    height: 500px;
    
    // .container {
    //     height: 100%;
    //     // .project-img {
    //     width: 100%;
    //     position: absolute;
    //     z-index: -1;
    //     // }

    //     .overlay {
    //         width: 100%;
    //         height: 100%;
    //         //position: absolute;
    //         top: 0;
    //         left: 0;
    //         background: black;
    //         opacity: 0.5;
    //     }
    // }

    .overlay {
        width: 100%;
        height: 100%;
        //position: absolute;
        top: 0;
        left: 0;
        background: black;
        opacity: 0.5;
        
        .donate-button-header {
            border-color: white;
            border-width: 2px;
            border-style: solid;
            //position: absolute;
            width: 15%;
            height: 10%;
            // margin-top: 92%;
            // margin-left: 95%;
            // text-align: center;
            // color: white;

            p {
                //display: table-cell;
                width: 100%;
                height: 100%;
                margin: 5% 0px;
                color: white;
                //top: 50%;
                text-align: center;
                //height: inherit;
            }

            &:hover {
                background-color: white;

                p {
                    color: black;
                }
            }
        }

        .project-title {
            color: white;
            font-size: 24px;
        }
    }
}

.gray-bar {
    background-color: #777777;
    height: 1px;
    width: 100%;
}

.about {


}

.project-updates {
    
}


// .tabs-content {
//     .tab {
//         display: none;

//         &.active {
//             display: inline;
//         }

//         &.update-view {
//             .update-box {
//                 border-color: #DCDCDC;
//                 border-style: solid;
//                 border-width: 1px;
//                 width: 99%;
//                 height: 300px;
//                 left: auto;
//                 right: auto;

//                 h3 {
//                     font-family: $body-font-family;
//                     font-weight: 500;
//                     margin-left: 15px;
//                     margin-right: 15px;
//                 }

//                 h5 {
//                     margin-left: 15px;
//                     margin-right: 15px;
//                     font-family: $body-font-family;
//                     font-weight: 300;
//                     color: #7D7D7D;
//                     font-size: 12px;
//                     line-height: 70%;
//                 }

//                 p {
//                     font-family: $body-font-family;
//                     font-weight: 300;
//                     margin-left: 15px;
//                     margin-right: 15px;
//                 }
//             }
//         }

//         &.story-view {

//             .project-info {
//                 font-family: $body-font-family;
//                 font-weight: 300;

//                 h3 {
//                     font-weight: 800;
//                     font-family: $body-font-family;
//                 }

//                 p {
//                     font-weight: 300;
//                     font-family: $body-font-family;
//                 }

//                 #project_video {
//                     margin-top: 30px;
//                 }
//             }

//             #impact-box {
//                 border-color: #DCDCDC;
//                 border-width: 1px;
//                 border-style: solid;
//                 height: 250px;
//                 width: 100%;
//                 margin: 15px 0px 15px 0px;

//                 h5 {
//                     width: 90%;
//                     margin: 10px 10% 0px 10%;
//                     font-weight: 300;
//                     font-family: $body-font-family;
//                     }

//                 p {
//                     width: 90%;
//                     margin: 0px 10%;
//                     font-weight: 300;
//                     font-family: $body-font-family;
//                     font-size: 14px;
//                 }
//             }

//             #donate-box {
//                 border-color: #DCDCDC;
//                 border-width: 1px;
//                 border-style: solid;
//                 height: 250px;
//                 width: 100%;
//                 margin: 28px 0px 15px 0px;

//                 h5 {
//                     width: 90%;
//                     margin: 10px 5% 0px 5%;
//                     font-weight: 300;
//                     font-family: $body-font-family;
//                 }

//                 p {
//                     width: 90%;
//                     margin: 0px 5%;
//                     font-weight: 300;
//                     font-family: $body-font-family;
//                     font-size: 13px;
//                     margin-right: auto;
//                     margin-left: auto;
//                 }

//                 .progress-bar {        
//                     background-color: $revolv-gray-bg;
//                     height: 25px;
//                     width: 90%;
//                     margin-left: 5%;
//                     margin-right: 5%;

//                     .green-bar {        
//                         background-color: green;
//                         height: 100%;
//                     }

//                     h5 {
//                         font-family: $body-font-family;
//                         line-height: 70%;
//                         color: #7D7D7D;
//                     }
                            
//                     .percentage {
//                         float: left;
//                         font-size: 14px;
//                         position: absolute;
//                     }
                            
//                     .days-left {
//                         float: right;
//                         font-size: 11px;
//                         position: absolute;
//                     }
//                 }

//                 .donate-button {
//                     width: 85%;
//                     margin-left: auto;
//                     margin-right: auto;
//                     border-width: 1px;
//                     border-style: solid;
//                     border-color: green;
//                     background-color: white;
//                     transition: background-color 200ms linear;
//                     text-align: center;
//                     top: 80%;

//                     a {
//                         color: green;
//                         font-weight: 300;
//                         font-family: $body-font-family;
//                         transition: color 200ms linear;
//                     }

//                     &:hover {
//                         background-color: green;

//                         a {
//                             color: white;
//                         }
//                     }
//                 }

//                 .approve-button {
//                     width: 85%;
//                     margin: 10px auto;
//                     border-width: 1px;
//                     border-style: solid;
//                     border-color: green;
//                     background-color: white;
//                     transition: background-color 200ms linear;
//                     text-align: center;
//                     top: 80%;

//                     a {
//                         color: green;
//                         font-weight: 300;
//                         font-family: $body-font-family;
//                         transition: color 200ms linear;
//                     }

//                     &:hover {
//                         background-color: green;

//                         a {
//                             color: white;
//                         }
//                     }
//                 }

//                 .deny-button {
//                     width: 85%;
//                     border-width: 1px;
//                     border-style: solid;
//                     border-color: red;
//                     margin: 10px auto;
//                     background-color: white;
//                     transition: background-color 200ms linear;
//                     text-align: center;
//                     top: 80%;

//                     a {
//                         color: red;
//                         font-weight: 300;
//                         font-family: $body-font-family;
//                         transition: color 200ms linear;
//                     }

//                     &:hover {
//                         background-color: red;

//                         a {
//                             color: white;
//                         }
//                     }
//                 }

//                 .update-button {
//                     width: 85%;
//                     border-width: 1px;
//                     border-style: solid;
//                     border-color: #7D7D7D;
//                     margin: 10px auto;
//                     background-color: white;
//                     transition: background-color 200ms linear;
//                     text-align: center;
//                     top: 80%;

//                     a {
//                         color: #7D7D7D;
//                         font-weight: 300;
//                         font-family: $body-font-family;
//                         transition: color 200ms linear;
//                     }

//                     &:hover {
//                         background-color: #7D7D7D;

//                         a {
//                             color: white;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// .tabs {
//     margin-left: 4px;

//     .tab-item {
//         width: 30%;
//         text-align: center;
//         margin-right: 1%;
//         margin-left: 1%;
//         a {
//             background-color: $revolv-gray-bg;
//             transition: border-color 200ms linear;
//             border-width: 2px;
//             border-style: solid;
//             border-color: $revolv-gray-bg;
//         }

//         &.active, &:hover {
//             a {
//                 background-color: $revolv-gray-bg;
//                 border-color: $revolv-header-color;

//             } 
//         }
//     }
// }


// body {
//     font-family: $body-font-family;
//     font-weight: 300;
// }

.confirm-column {
    .table {
        width: 100%;
    }

    .table-cell-middle {
        width: 100%;
        height: 120px;
    }

    span.confirm-info-amount {
        font-weight: bold;
        font-size: 30px;
    }

    ul.confirm-info-card {
        list-style: none;
        margin: 0;
        margin-left: $column-gutter;
    }
}

.confirm-text {
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: ($column-gutter / 2) 0;
}

.success-check {
    width: 300px;
    height: 300px;
    margin: 0 20px 20px 20px;
}