@import "foundation-settings";
@import "bower_components/foundation/scss/foundation";
@import "signin";

.payment-modal-content {
    width: 560px;

    .expire-column > .columns {
        padding-left: $column-gutter / 4;
        padding-right: $column-gutter / 4;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}
