$revolv-header-color: #C0E7F6;
$revolv-header-height: 60px;

$revolv-logo-color-light: #02B2E2;
$revolv-logo-color-dark: #2C398C;

$revolv-light-blue-bg: #E9F6FC;
$revolv-yellow: #FFCE58;
$revolv-gray-bg: #F9F9FA;
