// global ---------------------------------------------------------------------

$revolv-logo-color-light: #02B2E2;
$revolv-logo-color-dark: #2C398C;

$revolv-light-blue-bg: #E9F6FC;
$revolv-gray-bg: #F9F9FA;

$revolv-yellow: #FFCE58;
$revolv-blue: #11ADE5;

// header ---------------------------------------------------------------------

$revolv-header-color: #C0E7F6;
$revolv-header-height: 60px;

// footer ---------------------------------------------------------------------

$revolv-footer-heading-font-size: 16px;
$revolv-footer-detail-font-size: 16px;
$revolv-footer-text-color: #a8aaaa;
