@import "revolv/static/scss/include/utils.scss";
@import "revolv/static/scss/include/revolv-settings.scss";

.placeholder-tooltip-entry {
    @include revolv-form-field();

    right: -6px;
    top: -7px;
}

.placeholder-field-label {
    position: relative;

    &.has-errors input {
        border-color: $revolv-error-color;
    }
}

label.checkbox-field-label {
    text-align: center;
}

label.checkbox-field-label span {
    margin-left: 8px;
}

small.non-field-error {
    background-color: $revolv-error-color;
}

small.field-error { // extra qualifiers to override foundation
    background-color: transparent;
    color: $revolv-error-color;
}

.paragraph-field-label p {
    font-family: inherit;
    font-weight: normal;
    color: #555;
    font-size: 14px;
}

.submit-button {
    margin: 0;
    width: 100%;
    height: 37px;
    line-height: 0px; // this is a little weird, but it's because the buttons are entirely composed of padding by foundation
    @include revolv-hover-button($revolv-blue, $revolv-blue);

    &.gray {
        @include revolv-hover-button(darken($revolv-gray-bg, 25%), darken($revolv-gray-bg, 25%));
    }

    &.yellow {
        @include revolv-hover-button($revolv-yellow, $revolv-yellow);
    }
}
