{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body %}

<div class='row'>
    <a href="{% url "donor:dashboard" %}">
        <div class='medium active dashboard-button button'>Donor Dashboard</div>
    </a>
    {% if user.revolvuserprofile.is_administrator %}
    <a href="{% url "administrator:dashboard" %}">
        <div class='medium primary dashboard-button button'>Administrator Dashboard</div>
    </a>
    {% endif %}
    {% if user.revolvuserprofile.is_ambassador %}
    <a href="{% url "ambassador:dashboard" %}">
        <div class='medium primary dashboard-button button'>Ambassador Dashboard</div>
    </a>
    {% endif %}
</div>
<div class='row'>
  <div class='small-3 columns dash-box'>
        <h4 class='subheader text-center'>My Projects</h4>
        <dl class="tabs vertical-dash" data-tab>
            {% for project in donated_projects %}
                {% if project == donated_projects.first %}
                    <dd class="active proj-button"><a href="#proj{{project.id}}">{{ project.title }}</a></dd>
                {% else %}
                    <dd class="proj-button"><a href="#proj{{project.id}}">{{ project.title }}</a></dd>
                {% endif %}
            {% endfor %}
        </dl>
    </div>
    <div class='small-9 columns dash-box right'>
        <div class="tabs-content">
            {% for project in donated_projects %}
                {% if project == donated_projects.first %}
                    <div class="content active" id="proj{{project.id}}">
                {% else %}
                    <div class="content" id="proj{{project.id}}">
                {% endif %}
                    <div class="small-9 columns">
                        <div class="row">
                            <div class="small-12 columns">
                                <h3><a href="{% url "project:view" project.pk %}"> {{ project.title }}</a></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <h4>{{ project.org_name }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <p> {{ project.mission_statement }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <h3>Solar Log Data</h3>
                                {% include "base/partials/solar_data.html" with project=project %}
                            </div>
                        </div>
                    </div>
                    <div class="small-3 columns">
                        <a href="{% url "project:view" project.pk %}">
                            <img src="{{ project.preview_photo.url }}"></img>
                        </a>
                    </div>
                    <br/>
                </div>
            {% empty %}
                <p> You have not donated to any projects. </p>
            {% endfor %}
    </div>
  </div>
</div>

{% endblock %}