$include-html-global-classes: false !default;
@import "revolv/static/scss/include/foundation-settings.scss";
@import "revolv/static/scss/include/revolv-settings.scss";
@import "revolv/static/scss/include/utils.scss";
@import "revolv/static/scss/include/component/placeholder-formfield.scss";


.contents.auth {
  padding: 20px;
}

.component-row {
    &.login, &.password-reset, &.password-reset-done, &.password-reset-confirm, &.password-reset-complete, &.password-change {
        margin: 120px auto;
    }
    &.signup {
        margin: 100px auto;
    }
}

.component-row {
    h1 {
        color: $revolv-blue;
        font-weight: 100;

        @include text-with-divider($revolv-signin-header-font-size, $divider-color: $revolv-blue, $bg-color: $revolv-tan-bg);

        margin-bottom: 1.5em; // override
        &.heading-error {
            color: $revolv-red;
            @include text-with-divider($revolv-signin-header-font-size, $divider-color: $revolv-red, $bg-color: $revolv-tan-bg);
            margin-bottom: 1.5em; // override
        }
    }
}

@media #{$small-up} {
  .social-login-buttons .hidden-xs{
    display: none;
  }
    .social-login-buttons .visible-xs{
    display: block;
  }
}
@media #{$medium-up} {
  .social-login-buttons .visible-xs{
    display: none;
  }
  .social-login-buttons .hidden-xs{
    display: block;
  }
}
.social-login-buttons {
    padding-top: 1em;
    margin-left: 1em;
    width: 100%;
}

.row.slb_socialButtons {
    height: 50px;
    border: 1px solid;
    padding: 0.8em;
    margin-bottom: 0.5em;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
}
.row.slb_socialButtons.slb-google{
  color: #c32f10;
}

.row.slb_socialButtons.slb-google:hover{
  background-color: #c32f10;
  color: white;
  border: 1px #c32f10 solid;
}
.row.slb_socialButtons.slb-facebook{
  color: #3b5998;
}

.row.slb_socialButtons.slb-facebook:hover{
  background-color: #3b5998;
  color: white;
  border: 1px #3b5998 solid;
}
.slb_socialButtons span{
  margin-left: 10px;
}

@media #{$large-up} {
  .contents.auth {
    padding: 0;
  }
}
