{% comment %}
    Dashboard Project Header

    This partial is the header that is displayed on each project on the RE-volv dashboard.
    See dashboard_project.html for more documentation.
{% endcomment %}
<div class="dashboard-project-header row">
    <div class="sidebar-toggle small-only small-1 columns"><i class="fa fa-align-justify"></i></div>
    <div class="title-area small-6 columns">
        <div class="title-line">
            <div class="title"><a href="{% url "project:view" project.pk %}">{{project.title}}</a></div>
            <div class="project-status">({{project.status_display}})</div>
        </div>
        <div class="location"><i class="fa fa-map-marker"></i><span class="location-text">{{project.location_city_state_zip}}</span></div>
    </div>
    <div class="controls small-5 medium-6 columns">
        {% include "base/partials/project_controls.html" with project=project profile=user.revolvuserprofile %}
    </div>
</div>
