<div id="footer">
    <div class="row">
        <div class="small-4 columns">
            <div class="left">
                <small>&copy; 2014 <a href="http://www.re-volv.org">RE-volv</a></small>
            </div>
        </div>
        <div class="small-4 offset-4 columns">
            <div class="right">
                <a href="http://www.calblueprint.org">
                    <div class="powered_by"><small>Developer by Blueprint</small></div>
                </a>
            </div>
        </div>
    </div>
</div>
