{% load staticfiles %}
{% load humanize %}
{% load revolv_cms_tags %}

<div class="impact">
  <h2>Thank you for investing in clean energy!</h2>
  <h3>Your impact to date:</h3>

  <div class="row stats">
      <div class="col-md-2">
        <img src="{% static "images/dashboard/solar-panel-desktop.png" %}" />
        <div class="info">
            Built <span class="val">{{ statistics.kwh }} <span class="units">kwH</span></span> of solar energy capacity
        </div>
      </div>
      <div class="col-md-2">
        <img src="{% static "images/dashboard/cloud-desktop.png" %}" />
        <div class="info">
            Avoided <span class="val">{{ statistics.carbon_dioxide }} <span class="units">lbs</span> </span> of carbon dioxide emissions
        </div>
      </div>
      <div class="col-md-2">
        <img src="{% static "images/dashboard/trees-desktop.png" %}" />
        <div class="info">
            Equivalent to planting <span class="val">{{ statistics.trees }} <span class="units">acres</span></span> of trees
        </div>
      </div>
      <div class="col-md-2">
        <img src="{% static "images/dashboard/house-desktop.png" %}" />
        <div class="info">
            Supported <span class="val">{{ statistics.project_count }} </span> community-serving organizations
        </div>
      </div>
      <div class="col-md-2">
        <img src="{% static "images/dashboard/person-desktop.png" %}" />
        <div class="info">
            Provided solar energy to organizations serving <span class="val">{{ statistics.people_served }} <span class="units">people</span></span> in their community
        </div>
      </div>
      <div class="col-md-2">
        <img src="{% static "images/dashboard/money-desktop.png" %}" />
        <div class="info">
            Total amount donated <span class="val">{{ statistics.total_donated }}</span>
        </div>
      </div>
  </div>

{% if donated_projects %}
  <div class="row">
    <p class="title-blue-border title-active-projects">PROJECTS YOU'VE SUPPORTED:</p>
  </div>
  {% include "base/partials/list_projects.html" with active_projects=donated_projects %}
{% endif %}


</div>
