{% load staticfiles %}
{% load humanize %}
{% load revolv_cms_tags %}

<div class="impact">
  <h2>Thank you for investing in clean energy!</h2>
  <h3>Your impact to date:</h3>

  <div class="row stats">
      <div class="col-sm-4 col-md-2 col-xs-6">
        <div class="stats-img">
          <img src="{% static "images/dashboard/solar-panel-desktop.png" %}" />
        </div>
        <div class="info">
            <div>Built</div>
            <span class="val">{{ statistics.kwh }} </span>
            <span class="units">kw</span>
            <div>of solar energy capacity</div>
        </div>
      </div>
      <div class="col-sm-4 col-md-2 col-xs-6">
        <div class="stats-img">
          <img src="{% static "images/dashboard/cloud-desktop.png" %}" />
        </div>
        <div class="info">
            <div>Avoided</div>
            <span class="val">{{ statistics.carbon_dioxide }} </span>
            <span class="units">lbs</span>
            <div class="tall">of carbon dioxide emissions</div>
        </div>
      </div>
      <div class="col-sm-4 col-md-2 col-xs-6">
        <div class="stats-img">
          <img src="{% static "images/dashboard/trees-desktop.png" %}" />
        </div>
        <div class="info">
            <div>Equivalent to planting</div>
            <span class="val">{{ statistics.trees }} </span>
            <span class="units">acres</span>
            <div>of trees</div>
        </div>
      </div>
      <div class="col-sm-4 col-md-2 col-xs-6">
        <div class="stats-img">
          <img src="{% static "images/dashboard/house-desktop.png" %}" />
        </div>
        <div class="info">
            <div>Supported</div>
            <span class="val">{{ statistics.project_count }} </span>
            <div class="tall">community-serving organizations</div>
        </div>
      </div>
      <div class="col-sm-4 col-md-2 col-xs-6">
        <div class="stats-img">
          <img src="{% static "images/dashboard/person-desktop.png" %}" />
        </div>
        <div class="info">
            <div class="tall">Provided solar energy to organizations serving</div>
            <span class="val">{{ statistics.people_served }} </span>
            <span class="units">people</span>
            <div>in their community</div>
        </div>
      </div>
      <div class="col-sm-4 col-md-2 col-xs-6">
        <div class="stats-img">
          <img src="{% static "images/dashboard/money-desktop.png" %}" />
        </div>
        <div class="info">
            <div>Total amount donated</div>
            <span class="val">{{ statistics.total_donated }}</span>
        </div>
      </div>
  </div>

{% if donated_projects %}
  <div class="row">
    <p class="title-blue-border title-active-projects">PROJECTS YOU'VE SUPPORTED:</p>
  </div>
  {% include "base/partials/list_projects.html" with active_projects=donated_projects %}
{% endif %}


</div>
