<div class="row active-projects-block">
            {% for active_project in active_projects %}
                {% if active_project.cover_photo %}
                    <div class="active-project {% if forloop.counter|divisibleby:3 %}last-active-project-in-row{% endif %}" >

                        <a href="{% url "project:view" pk=active_project.pk %}">
                            <div class="overlay">

                                <div class="active-project-cover" style="background-image: url({{active_project.cover_photo.url}})">

                                    <div class="active-project-inset">
                                        <h3 class="heading-top-margin">{{ active_project.title }}</h3>
                                    </div>
                                    <div class="graphics-container">
                                        <span class="partial-completeness">{{ active_project.partial_completeness_as_js }}</span>
                                        <svg class="svg-graphics-container"></svg>
                                        <svg class="internal-graphics-container"></svg>
                                        <div class="text-container">
                                            <p class="percentage-text">{{ active_project.percent_complete }}%</p>
                                            <p class="funded">FUNDED</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="statistics-graphics-container">
                                    <div class="bar top-bar">
                                        <div class="container">
                                            <p class="left-text statistic amount-donated">${{ active_project.amount_donated }} donated</p>
                                            <p class="right-text statistic days-left">{{ active_project.days_left }} days left</p>
                                        </div>
                                    </div>
                                    <div class="bar bottom-bar">
                                        <div class="container">
                                            <p class ="left-text statistic amount-saved">{{ active_project.actual_energy }} kwH saved</p>
                                            <p class ="right-text statistic num-donors">{{ active_project.donors.count }} {{ settings.revolv_cms.ProjectPageSettings.donors_wording }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>