<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">RE-volv</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Change these links 
    <ul class="right">
      <li><a href="#">Change me</a></li>
      <li class="has-dropdown">
        <a href="#">Change me</a>
        <ul class="dropdown">
          <li><a href="#">Change me</a></li>
          <li><a href="#">Change me</a></li>
        </ul>
      </li>
    </ul>
    -->
  </section>
</nav>
