{% comment %}
    We have to load staticfiles here, even though it's already loaded
    in the base template, because of how django does staticfile processing:
    http://stackoverflow.com/questions/22650371/django-is-it-impossible-to-static-tag-into-block-tag
{% endcomment %}
{% load staticfiles %}
{% load menu_tags %}
{% spaceless %}
<div class="nav-bg-wrap">
   <nav class="row header top-bar" data-topbar role="navigation">
       <ul class="title-area">
           <li class="logo-container name">
               <a href="{% url "home" %}"><img class="logo" src="{% static 'images/revolv-logo-white.png' %}"></a>
               <span class="tagline">People-Funded Renewable Energy</span>
           </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
           <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
       </ul>
       <section class="top-bar-section">
           <ul class="left">
               {% show_menu 0 100 100 100 "base/partials/menu.html" %}
           </ul>

           <ul class="right header-small-text">
               {% if request.user.is_authenticated %}
               <li class="user-controls has-dropdown">
                   <a href="#">{{user.username}}</a>
                   <ul class="dropdown">
                       <li><a href="{% url "dashboard" %}">Dashboard</a></li>
                       <li><a href="{% url "logout" %}">Sign Out</a></li>
                   </ul>
               </li>
               {% else %}
               <li>
                   <a class="component-link" data-component="signup" href="{% url "signin" %}#signup">Sign Up</a>
               </li>
               <li>
                   <a class="component-link" data-component="login" href="{% url "signin" %}#login">Sign In</a>
               </li>
               {% endif %}
           </ul>
       </section>
   </nav>
</div>

<!-- Row for escaping navigation bar height -->
<div class="row spacer"></div>
{% endspaceless %}
