{% comment %}
    We have to load staticfiles here, even though it's already loaded
    in the base template, because of how django does staticfile processing:
    http://stackoverflow.com/questions/22650371/django-is-it-impossible-to-static-tag-into-block-tag
{% endcomment %}
{% load staticfiles revolv_cms_tags %}

<header class="header after-scroll-header {% block "header-classes" %}{% endblock "header-classes" %}">
  <div class="container">
    <div class="lefts pull-left">
      <a href="/" class="logo"></a>
    </div>
    {% block "extra-header" %}{% endblock %}
    <!-- end .logo -->
    <div class="rights pull-right">
      <div class="pull-left">

        {% if request.user.is_authenticated %}
          <li class="user-controls has-dropdown">
            <a href="{% url 'dashboard' %}" class="btn-blue pull-left btn-donate">DASHBOARD</a>
            <a href="{% url 'logout' %}" class="btn-blue pull-left btn-donate">SIGN OUT</a>
          </li>
          {% else %}
          <a href="{% url 'signin' %}#signup" class="component-link btn-blue pull-left btn-donate" data-component="signup">SIGN UP</a>
          <a href="{% url 'signin' %}#login" class="component-link btn-blue pull-left btn-donate" data-component="login">SIGN IN</a>
        {% endif %}

      </div>
        <a href="{% url 'projects_list' %}" class="btn-blue btn-donate pull-left">DONATE NOW</a>
    </div>
  </div>
</header>
<!-- end .header -->
<!-- end .top-section -->
