{% load widget_tweaks %}

<label class="placeholder-field-label {% if field.errors%}has-errors{% endif %}">
    {% if field.help_text %}
        <span has-tooltip for="{{ field.id_for_label }}" data-tooltip class="placeholder-tooltip-entry has-tip tip-top tip-thin" title="{{ field.help_text }}">(?)</span>
    {% endif %}
    {% if field.errors %}
        {{ field|add_class:"error form-control" }}
    {% else %}
        {% with val=field.label|safe %}
            {% with to_append="placeholder:"|add:val %}
                {{ field|add_class:"form-control"|attr:to_append }}
            {% endwith %}
        {% endwith %}
    {% endif %}
</label>
{% for error in field.errors %}
  <small class="field-error error">{{field.label}}: {{ error }}</small>
{% endfor %}
