{% extends "base/tmp_base.html" %}
{% load staticfiles %}

{% block head %}
<style type="text/css">
    #map-canvas { width: 100%; height: 500px; margin: 0; padding: 0;}
    #map-canvas img {max-width: none;}
</style>
{% endblock %}


{% block title %}Create Project{% endblock %}

{% block body %}

<div class='row'>
    <div class='large-12 columns'>
        <h1>Create Project</h1>
    </div>
</div>
<div class="row white-section">
    <div class="large-12 columns">
        <form method="POST" enctype="multipart/form-data">
      		{% csrf_token %}
      		{% for error in form.non_field_errors %}
        	<div data-alert class="alert-box alert">
            	{{ error }}
            	<a href="#" class="close">&times;</a>
          	</div>
        	{% endfor %}

            <div class="row">
        		{% for field in form %}
                <div class="medium-12 columns">
                    <div id="{{ field.auto_id }}_container">
				    	{{ field.help_text }}
				    	<div>
				      		{{ field.label_tag }} {{ field }}
				    	</div>
				    	<div id="{{ field.auto_id }}_errors">{{ field.errors }}</div>
				  	</div>
                </div>
            	{% endfor %}
                <div class="medium-12 columns">
                    Select location (click to place a marker / update its location!):
                    <div id="map-canvas"></div>
                </div>
        	</div>
            <button class="large right" id="save_project" type="submit">Save</button>
        </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<!-- Initializes the Google Map / Location Selection -->
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVDPi1SXm3qKyvmE5i9XeO1Gs5WjK7SJE">
</script>
<script type="text/javascript">
    function initialize() {
        //start location of the map (if this is a new project, just pick SF as default)
        var latitude = {{project.location_latitude}};
        var longitude = {{project.location_longitude}};
        var startLocation;
        // checks if latitude and longitude already exists, otherwise prepopulates it
        if(latitude && longitude) {
            startLocation = new google.maps.LatLng(latitude, longitude);
        } else {
            startLocation = new google.maps.LatLng(37.7699298, -122.4469157);
        }
        //initializes map and the marker
        var marker;
        var mapOptions = {
            center: startLocation,
            zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        addMarker(startLocation);

        // This event listener will call addMarker() when the map is clicked.
        google.maps.event.addListener(map, 'click', function(event) {
            addMarker(event.latLng);
        });

        // Adds a marker to the map / updates the existing position of the marker
        function addMarker(location) {
            // if there already is a marker, deletes it so a new one can be created
            if(marker != null) {
                deleteMarker();
            }
            // adds the marker and updates the location fields
            marker = new google.maps.Marker({
                position: location,
                map: map,
                draggable: true
            });
            updateLocation(location.lat(), location.lng());

            // adds a drag listener for the marker to update on change
            google.maps.event.addListener(marker, "dragend", function (event) {
                updateLocation(this.position.lat(), this.position.lng());
            });
        }
        // Deletes the current marker
        function deleteMarker() {
            marker.setMap(null);
            marker = null;
        }
        // uses jquery to update the latitude and longitude hidden fields 
        function updateLocation(latitude, longitude) {
            $('#id_location_latitude').val(latitude);
            $('#id_location_longitude').val(longitude);
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}
