{% extends "base/base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "project.css" %}">
    <style type="text/css">
        #map-canvas { width: 500px; height: 300px; margin: 0; padding: 0;}
        #map-canvas img {max-width: none;}
    </style>
{% endblock %}

{% block title %}Project{% endblock %}

{% block body %}

{% include "project/partials/payment_modal.html" with form=form %}
{% include "project/partials/confirm_modal.html" %}
{% include "project/partials/success_modal.html" with project=project %}
<div class="row">
    <div class="large-12 columns">
        <h1><strong>{{ project.title }}</strong></h1>
        <ul class="button-group nav-tab-button-group">
            {% if project.is_active %}
            <li><a class="small button success radius" href="#donate" data-reveal-id="donate-modal">Donate</a></li>
            {% endif %}
        </ul>
        <h3>Funding Goal : {{ project.funding_goal }}</h3>
        <h3>End Date : {{ project.end_date }}</h3>
        <h5>Location : {{ project.location}}</h5>
        <div id="map-canvas"></div>
        <p>Organization : {{project.org_name}}</p>
        <p>About {{project.org_name}} : {{project.org_about}}</p>
        <img src="{{project.cover_photo.url}}"></img>
        <p>Mission Statement : {{ project.mission_statement }}</p>
        {% if project.video_url %}
        <iframe width="420" height="315" id="project_video">
		</iframe>
        {% endif %}
        {% if project.is_completed or project.is_active and project.post_funding_updates %}
        <h5>Post Funding Updates</h5>
        <p>{{ project.post_funding_updates}}</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_API_KEY}}">
</script>

{% if project.video_url %}
<script type="text/javascript">
// function to extract the associated iframe embed url from the video url
// from http://stackoverflow.com/questions/21607808/convert-a-youtube-video-url-to-embed-code
function getEmbedUrl(url) {
    var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
    var match = url.match(regExp);

    if (match && match[2].length == 11) {
        var video_id = match[2];
        return "http://www.youtube.com/embed/" + video_id;
    } else {
        return "error";
    }
}

// updates the iframe src url if youtube url is valid, otherwise hides it
var embedUrl = getEmbedUrl("{{project.video_url}}");
if (embedUrl === "error") {
    $("#project_video").remove();
} else {
    $("#project_video").attr("src", embedUrl);
}
</script>
{% endif %}

<script type="text/javascript">
    // initializes the map based on the projects latitude and longitude, and adds the marker
    function initialize() {
        var location = { lat: {{project.location_latitude}}, lng: {{project.location_longitude}} }
        var mapOptions = {
            center: location,
            zoom: 18
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        var marker = new google.maps.Marker({
            position: location,
            map: map,
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script type="text/javascript">
$(function() {
    // http://stackoverflow.com/questions/610406
    if (!String.prototype.format) {
        String.prototype.format = function() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) { 
                return typeof args[number] != 'undefined' ? args[number] : match;
            });
        };
    }

    var prettyName = function(name) {
        return name.replace(/_/g, ' ')
                .replace(/\w\S*/g, function(txt) {
                    return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
                });
    };

    var cardInfoBlock = function(info) {
        // TODO: style block
        var block = $('<ul/>').addClass('confirm-info-card');
        block.append($('<li/>')
            .text('{0} ending in {1}'.format(
                prettyName(info.type), info.number.substr(-4)
            )));
        block.append($('<li/>')
            .text('Expires: {0}/{1}'.format(
                info.expire_month, info.expire_year
            )));
        block.append($('<li/>')
            .text('Name on card: {0} {1}'.format(
                info.first_name, info.last_name
            )));
        return block;
    };

    var ffNames = {{ form.fields.keys | safe }}; // TODO: probably not okay, #yolo
    $('#donate-form').submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var formURL = form.attr('action');
        var formData = form.serializeArray();
        $.post(
            '{{ request.get_full_path }}' + formURL,
            formData
        ).done(function(data) {
            var $error_list = $('.error-list');
            $error_list.empty();
            var errors = data.errors;
            for (var i = 0; i < ffNames.length; i++) {
                var ffName = ffNames[i];
                var ff = $('#id_' + ffName);
                var error = errors[ffName];
                if (error !== undefined) {
                    ff.addClass('error');
                    var error = $('<li/>')
                        .text(prettyName(ffName) + ': ' + error);
                    $error_list.append(error);
                } else {
                    ff.removeClass('error');
                }
            }
            if (!data.valid) {
                $error_list.parents('.modal-errors').addClass('error');
            } else {
                $error_list.parents('.modal-errors').removeClass('error');

                $confirm_info_card = $('#confirm-info-card');
                $confirm_info_card.empty();
                $confirm_info_card.append(cardInfoBlock(data.confirm));

                $('#confirm-info-amount').text('${0} USD'.format(
                    (new Number(data.confirm.amount)).toFixed(2)));

                // HACK: serializing data.confirm, not sure if best approach
                var confirm_data = [];
                for (key in data.confirm) {
                    if (!data.confirm.hasOwnProperty(key)) {
                        continue;
                    }
                    confirm_data.push({
                        name: key,
                        value: data.confirm[key]
                    });
                }
                extra_confirm_data = confirm_data

                $('#confirm-modal').foundation('reveal', 'open');
            }
        }).fail(function(jqXHR) {
              // TODO
        });
    });

    $('#change-donation-button').click(function(e) {
        e.preventDefault();
        $('#donate-modal').foundation('reveal', 'open');
    });

    var extra_confirm_data = [];
    $('#confirm-form').submit(function (e) {
        e.preventDefault();
        var form = $(this);
        var formData = form.serializeArray();
        formData.push.apply(formData, extra_confirm_data);
        var formURL = form.attr('action');
        $.post(
            '{{ request.get_full_path }}' + formURL,
            formData
        ).done(function(data) {
            if (data.success) {
                $('#amount-donated').text('${0}'.format(
                    (new Number(data.amount)).toFixed(2)));
                $('#success-modal').foundation('reveal', 'open');
            }
        }).fail(function(jqXHR) {
            // TODO
        });
    });
});
</script>
{% endblock %}
