{% extends "base/base.html" %}
{% load staticfiles %}
{% load tojson %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "project.css" %}">
    <style type="text/css">
        #map-canvas { width: 500px; height: 300px; margin: 0; padding: 0;}
        #map-canvas img {max-width: none;}
    </style>
{% endblock %}

{% block title %}Project{% endblock %}

{% block body %}

{% include "project/partials/payment_modal.html" with form=form %}
{% include "project/partials/confirm_modal.html" %}
{% include "project/partials/success_modal.html" with project=project %}
<div class="row">
    <div class="large-12 columns">
        <h1><strong>{{ project.title }}</strong></h1>
        <ul class="button-group nav-tab-button-group">
            {% if project.is_active %}
            <li><a class="small button success radius" href="#donate" data-reveal-id="donate-modal">Donate</a></li>
            {% endif %}
        </ul>
        <h3>Funding Goal : {{ project.funding_goal }}</h3>
        <h3>End Date : {{ project.end_date }}</h3>
        <h5>Location : {{ project.location}}</h5>
        <div id="map-canvas"></div>
        <p>Organization : {{project.org_name}}</p>
        <p>About {{project.org_name}} : {{project.org_about}}</p>
        <img src="{{project.cover_photo.url}}"></img>
        <p>Mission Statement : {{ project.mission_statement }}</p>
        {% if project.video_url %}
        <iframe width="420" height="315" id="project_video">
		</iframe>
        {% endif %}
        {% if project.is_completed or project.is_active and project.post_funding_updates %}
        <h5>Post Funding Updates</h5>
        <p>{{ project.post_funding_updates}}</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_API_KEY}}">
</script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.2/jquery.payment.min.js">
</script>
<script type="text/javascript">
    /**
     * Adds class 'error' to inputEle if validFunc returns false on
     * varArgs.
     *
     * @param {jQuery Element} inputEle - Element to apply class to
     * @param {function} validFunc - Function that operates on varArgs
     * @param {anything} varArgs - Arbitrary arguments to pass to validFunc
     */
    var validOrApplyErrorClass = function(inputEle, validFunc, varArgs) {
        inputEle.toggleClass(
            'error',
            !validFunc.apply(this, Array.prototype.slice.call(arguments, 2))
        );
    };

    $ccNumber = $('input.cc-number');
    $ccNumber.payment('formatCardNumber');

    var activeCardType = null;
    var $activeTypeEle = null;
    $ccNumber.keyup(function() {
        var cardType = $.payment.cardType(this.value);
        if (cardType != null) {
            if (activeCardType != cardType && $activeTypeEle != null) {
                $activeTypeEle.removeClass('active');
            }
            $activeTypeEle = $('img.cc-type-' + cardType).addClass('active');
        } else if ($activeTypeEle != null) {
            $activeTypeEle.removeClass('active');
            $activeTypeEle = null;
        }
        activeCardType = cardType;
    });
    $ccNumber.blur(function() {
        validOrApplyErrorClass(
            $ccNumber,
            $.payment.validateCardNumber,
            this.value
        );
    });

    $ccExpiry = $('input.cc-expiry');
    $ccExpiry.payment('formatCardExpiry');
    $ccExpiry.blur(function() {
        var expiryVal = $.payment.cardExpiryVal(this.value);
        validOrApplyErrorClass(
            $ccExpiry,
            $.payment.validateCardExpiry, 
            expiryVal.month,
            expiryVal.year
        );
    });

    $ccCVC = $('input.cc-cvc');
    $ccCVC.payment('formatCardCVC');
    $ccCVC.blur(function() {
        validOrApplyErrorClass(
            $ccCVC,
            $.payment.validateCardCVC,
            this.value,
            activeCardType
        );
    });

    $ccName = $('input.cc-name');
    $ccName.blur(function() {
        var verifyFirstLast = function(fullName) {
            var split = fullName.split(' ');
            if (split.length != 2) { return false; }
            var e;
            for (var i = 0; i < split.length; i++) {
                e = split[i];
                if (e == null || e.length == 0) { return false; }
            }
            return true;
        };
        validOrApplyErrorClass(
            $ccName,
            verifyFirstLast,
            this.value
        );
    });

    $donationAmount = $('input.donation-amount');

    /**
     * Ripped and modified from Stripe jQuery.payment source. Formats
     * the input field to always be of the form "$ 20" or "$ 20.00".
     * (https://github.com/stripe/jquery.payment/blob/master/src/jquery.payment.coffee)
     */
    $donationAmount.keypress(function(e) {
        // Key event is for a browser shortcut
        if (e.metaKey || e.ctrlKey) {
            return true;
        }
        // If keycode is a space
        if (e.which == 32) {
            return false;
        }
        // If keycode is a special char (WebKit)
        if (e.which == 0) {
            return true;
        }
        // If char is a special char (Firefox)
        if (e.which < 33) {
            return true;
        }

        input = String.fromCharCode(e.which);
        var val = $donationAmount.val();
        
        /* debugger; */
        // If val is empty, make sure first char is a number
        if (val == '') {
            var validInput = /[1-9]/.test(input);
            if (!validInput) {
                return false;
            }
            e.preventDefault();
            setTimeout(function() {
                $donationAmount.val('$ ' + input);
            });
        } else {
            // Else, get just the decimal amount and do error checking there
            var decimalVal = val.slice(2)
            if (/^\d+\.\d*$/.test(decimalVal) && !/[\d]/.test(input)) {
                return false;
            } else if (/^\d+$/.test(decimalVal) && !/[\d\.]/.test(input)) {
                return false;
            }
            e.preventDefault();
            setTimeout(function() {
                $donationAmount.val('$ ' + decimalVal + input);
            });
        }
    });
    /**
     * Handles backspace logic for decimal dollars value field.
     * (https://github.com/stripe/jquery.payment/blob/master/src/jquery.payment.coffee)
     */
    $donationAmount.keydown(function(e) {
        var value = $donationAmount.val();

        // Return unless backspacing
        if (e.which != 8) {
            return;
        }

        var selectionStart = $donationAmount.prop('selectionStart');
        var selectionEnd = $donationAmount.prop('selectionEnd');
        if (selectionStart != null && selectionEnd != null &&
            selectionStart < 4) { 

            e.preventDefault();
            if (value.length == 3) {
                setTimeout(function() {
                    $donationAmount.val('');
                });
                return;
            }

            var newVal = value.slice(selectionEnd);
            if (newVal == '') {
                setTimeout(function() {
                    $donationAmount.val('');
                });
            } else {
                if (newVal[0] == '.') {
                    newVal = newVal.slice(1);
                }
                setTimeout(function() {
                    $donationAmount.val('$ ' + newVal);
                });
            }
        }
    });
    /**
     * Validates decimal dollars value field when user clicks away from input.
     * (https://github.com/stripe/jquery.payment/blob/master/src/jquery.payment.coffee)
     */
    $donationAmount.blur(function() {
        var validAmount = function(amountStr) {
            return /^\d+(\.\d{2})?$/.test(amountStr);
        };
        validOrApplyErrorClass(
            $donationAmount,
            validAmount,
            this.value.slice(2)
        );
    });
</script>
<script id="donation-ajax-js"
        type="text/javascript"
        src="{% static 'js/project/donation_ajax.js' %}" 
        data-field-names="{{ form.fields.keys | tojson }}" 
        data-project-url="{{ request.get_full_path }}">
</script>

{% if project.video_url %}
<script type="text/javascript">
// function to extract the associated iframe embed url from the video url
// from http://stackoverflow.com/questions/21607808/convert-a-youtube-video-url-to-embed-code
function getEmbedUrl(url) {
    var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
    var match = url.match(regExp);

    if (match && match[2].length == 11) {
        var video_id = match[2];
        return "http://www.youtube.com/embed/" + video_id;
    } else {
        return "error";
    }
}

// updates the iframe src url if youtube url is valid, otherwise hides it
var embedUrl = getEmbedUrl("{{project.video_url}}");
if (embedUrl === "error") {
    $("#project_video").remove();
} else {
    $("#project_video").attr("src", embedUrl);
}
</script>
{% endif %}

<script type="text/javascript">
    // initializes the map based on the projects latitude and longitude, and adds the marker
    function initialize() {
        var location = { lat: {{project.location_latitude}}, lng: {{project.location_longitude}} }
        var mapOptions = {
            center: location,
            zoom: 18
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        var marker = new google.maps.Marker({
            position: location,
            map: map,
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}
