{% extends "project/project.html" %}
{% load staticfiles %}

{% block title %}Review Project{% endblock %}

{% block body %}
<form enctype="multipart/form-data" method="POST">
{% csrf_token %}
<div class="row">
    <div class="large-12 columns">
        <h2>Project Review</h2>
        <ul class="button-group nav-tab-button-group">
        {% if user.revolvuserprofile.is_administrator %}
            {% if project.is_drafted %}
            <li><input id="propose_project" class="small button radius" name="_propose" type="submit" value="Propose"></input></li>
            {% endif %}
            {% if project.is_proposed %}
            <li><input id="approve_project" class="small button success radius" name="_approve" type="submit" value="Approve" ></input></li>
            <li><input id="deny_project" class="small button alert radius" name="_deny" type="submit" value="Deny"></input></li>
            {% endif %}
            {% if project.is_active %}
            <li><input id="complete_project" class="small button radius" name="_complete" type="submit" value="Complete"></input></li>
            {% endif %}
            {% if project.is_completed or project.is_active %}
            <li><a class="small button success radius" href="{% url "project:update" pk=project.id %}">Post Project Updates</a></li>
            {% endif %}
            <li><a class="small button info radius" href="{% url "project:edit" pk=project.id %}">Edit Project</a></li>
        {% elif user.revolvuserprofile.is_ambassador %}
            {% if project.is_drafted %}
            <li><input id="propose_project" class="small button radius" name="_propose" type="submit" value="Propose"></input></li>
            <li><a class="small button info radius" href="{% url "project:edit" pk=project.id %}">Edit Project</a></li>
            {% endif %}
            {% if project.is_completed or project.is_active %}
                <li><a class="small button success radius" href="{% url "project:update" pk=project.id %}">Post Project Updates</a></li>
            {% endif %}
        {% endif %}
        </ul>
    </div>
</div>
{{ block.super }}
</form>

{% endblock %}
