<div 
    data-400="margin-left: -50px;" 
    data-500="margin-left: 100px;"
    data-2000="margin-left: 100px;"
    data-2100="margin-left: -50px;"
    class="nav-spine">
        <div class="first nav-spine-item">1</div>
        <figure
            data-500="opacity[sqrt]: 0;" 
            data-775="opacity[sqrt]: 1;"
            data-800="opacity[sqrt]: 0;">
            <figcaption class="first-caption">FUNDRAISE</figcaption>
            RE-volv raises money through crowdfunding from amazing people like you.
        </figure>
        <div class="second nav-spine-item">2</div>
        <figure
            data-800="opacity[sqrt]: 0;" 
            data-1375="opacity[sqrt]: 1;"
            data-1500="opacity[sqrt]: 0;">
            <figcaption class="second-caption">INVEST</figcaption>
            We then invest in community-based solar energy projects.
        </figure>
        <div class="third nav-spine-item">3</div>
        <figure
            data-1500="opacity[sqrt]: 0;" 
            data-1875="opacity[sqrt]: 1;"
            data-2100="opacity[sqrt]: 0;">
            <figcaption class="third-caption">PAY IT FORWARD</figcaption>
            Finally, we reinvest the money saved to fund more worthy solar energy projects.
        </figure>
</div>