{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Change Password | {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/pages/auth/index.css" %}">
{% endblock %}

{% block body %}

<div class="row component-row password-change">
    <div class='component-container medium-offset-2 medium-4 small-12 columns'>
        <h1>Change your password</h1>
        <p>RE-volv always stores your password securely. To change it, please enter your current password and select a new one here.</p>
    </div>
    <div class='component-container medium-4 small-12 columns end'>
        <form id="change_password_form" method="post" action="/password_change/">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
              <small class="error non-field-error">{{ error }}</small>
            {% endfor %}
            {% for field in form %}
                {% include "base/partials/placeholder_formfield.html" with field=field %}
            {% endfor %}
            <button class="submit-button medium" type="submit" value="Change Password">Change Password</button>
        </form>
    </div>
</div>

{% endblock %}
