{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Forgot Password | {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/pages/auth/index.css" %}">
{% endblock %}

{% block body %}

<div class='row component-row password-reset-done'>
    <div class='component-container medium-offset-4 medium-4 small-12 columns'>
        <h1>Email sent!</h1>
        <p>We've sent an email to the address you specified. Check your email for a link to reset your password.</p>
    </div>
</div>

{% endblock %}
