{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Reset Password | {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/pages/auth/index.css" %}">
{% endblock %}

{% block body %}

<div class='row component-row password-reset-confirm'>
    {% if not validlink %}
        <div class='component-container medium-offset-4 medium-4 small-12 columns'>
            <h1 class="heading-error">Sorry!</h1>
            <p>The password reset link you requested has expired. You can request another password reset link <a href="/password_reset/">here</a>.</p>
        </div>
    {% else %}
        <div class='component-container medium-offset-2 medium-4 small-12 columns'>
            <h1>Reset your password</h1>
            <p>To reset your password, please enter and confirm a new password now.</p>
        </div>
        <div class='component-container medium-4 small-12 columns end'>
            <form method="post" id="password_reset_confirm_form">
                {% csrf_token %}
                {% for error in login_form.non_field_errors %}
                  <small class="error non-field-error">{{ error }}</small>
                {% endfor %}
                {% for field in form %}
                    {% include "base/partials/placeholder_formfield.html" with field=field %}
                {% endfor %}
                <button class="submit-button medium" type="submit" value="Reset password">Reset Password</button>
            </form>
        </div>
    {% endif %}
</div>

{% endblock %}
