{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Forgot Password | {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/pages/auth/index.css" %}">
{% endblock %}

{% block body %}

<div class='row component-row password-reset'>
    <div class='component-container medium-offset-2 medium-4 small-12 columns'>
        <h1>Reset your password</h1>
        <p>To reset your password, please enter the email address you signed up with. We'll send you an email with a link you can use to create a new password.</p>
    </div>
    <div class='component-container medium-4 small-12 columns end'>
        <form method="post" id="password_reset_form">
            {% csrf_token %}
            {% for error in login_form.non_field_errors %}
              <small class="error non-field-error">{{ error }}</small>
            {% endfor %}
            {% for field in form %}
                {% include "base/partials/placeholder_formfield.html" with field=field %}
            {% endfor %}
            <button class="submit-button medium" type="submit" value="Send Email">Send Email</button>
        </form>
    </div>
</div>

{% endblock %}
