{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Reset Password | {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/pages/auth/index.css" %}">
{% endblock %}

{% block body %}

<div class='row component-row password-reset-complete'>
    <div class='component-container medium-offset-4 medium-4 small-12 columns'>
        <h1>Done!</h1>
        <p>Your password has been successfully reset. You can now <a href="/login/">log in</a>.</p>
    </div>
</div>

{% endblock %}
