<div id="confirm-modal" class="revolv-reveal-modal-table" data-reveal>
    <div class="modal-cell">
        <div class="modal-content payment-modal-content">
            <div class="modal-header">
                <span class="modal-title">Confirm Donation</span>
            </div>
            <div class="row">
                <div class="medium-6 columns confirm-column">
                    <label>Card Info</label>
                    <div class="table">
                        <div id="confirm-info-card" class="table-cell-middle">
                        </div>
                    </div>
                </div>
                <div class="medium-6 columns confirm-column">
                    <label>Donation Amount</label>
                    <div class="table">
                        <div class="table-cell-middle text-center">
                            <span id="confirm-info-amount" class="confirm-info-amount"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center confirm-text">
                <span>Please confirm your donation.</span>
            </div>
            <form name="confirm-form" id="confirm-form" method="POST" action="payment/submit">
                {% csrf_token %}
                <div class="modal-footer">
                    <ul class="modal-footer-button-group right">
                        <li><button class="close-revolv-reveal-modal submit-button gray">Cancel</button></li>
                        <li><button id="change-donation-button" class="submit-button gray">Change</button></li>
                        <li><button class="submit-button" type="submit">Confirm Donation</button></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
