<div class="modal fade" id="confirm-modal" class="revolv-reveal-modal-table" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content payment-modal-content">
      <div class="modal-header">
          <span class="modal-title">Confirm Donation</span>
          <div class="modal-errors">
              <span class="error-msg"></span>
          </div>
      </div>

      <div class="modal-body">
        <div class="confirm-info-card">
            <h4>Card Info</h4>
            <ul>
              <li><span class="type"></span> ending in <span class="lastfour"></span></li>
              <li>Expires on: <span class="expiry"></span></li>
              <li>Name on card: <span class="name"></span></li>
            </ul>
        </div>

        <div>
          <h4>Donation Amount</h4>
          <span class="confirm-info-amount"></span>
        </div>

        {% if settings.revolv_cms.PaymentModalSettings.confirm_payment_paragraph %}
        <div>
          <span>{{ settings.revolv_cms.PaymentModalSettings.confirm_payment_paragraph|safe }}</span>
        </div>
        {% endif %}
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="donation-change btn btn-default">Change</button>
        <button class="btn btn-primary donation-submit">Confirm Donation</button>
      </div>

      </div>
    </div>
  </div>
</div>
