<div id="donate-modal" class="revolv-reveal-modal-table" data-reveal>
    <div class="modal-cell">
        <div class="modal-content payment-modal-content">
            <div class="modal-header">
                <span class="modal-title">Donate to Project</span>
                <div class="modal-errors">
                    <span>Please correct the following fields:</span>
                    <ul class="error-list">
                    </ul>
                </div>
            </div>
            <form name="donate-form" id="donate-form" method="POST" action="payment/validate">
                {% csrf_token %}
                <div class="row">
                    <div class="medium-6 columns"><label>Card type</label>{{ form.type }}</div>
                    <div class="medium-6 columns"><label>Card number</label>{{ form.number }}</div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Expires on</label>
                        <div class="expire-column">
                            <div class="small-6 columns">{{ form.expire_month }}</div>
                            <div class="small-6 columns">{{ form.expire_year }}</div>
                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <label>Security code</label>
                        <div class="expire-column">
                            <div class="small-6 columns">{{ form.cvv2 }}</div>
                            {# TODO: add (?) tooltip for CVV #}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns"><label>First name</label>{{ form.first_name }}</div>
                    <div class="medium-6 columns"><label>Last name</label>{{ form.last_name }}</div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="small-centered medium-4 columns"><label>Amount</label>{{ form.amount }}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <ul class="modal-footer-button-group right">
                        <li><button class="close-revolv-reveal-modal submit-button gray">Cancel</button></li>
                        <li><button class="submit-button" type="submit">Continue</button></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
