{% load staticfiles %}

<div class="modal fade" id="donate-modal" class="revolv-reveal-modal-table" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content payment-modal-content">
      <div class="modal-header">
          <span class="modal-title">Donate to Project</span>
          <div class="modal-errors">
              <span class="error-msg"></span>
          </div>
      </div>
      <div class="modal-body">
        <form name="donate-form" id="donate-form" method="POST" action="donation/submit" autocomplete="on">
          {% csrf_token %}

          {% if settings.revolv_cms.PaymentModalSettings.payment_modal_paragraph %}
              <div class="form-group payment-pitch">
                {{ settings.revolv_cms.PaymentModalSettings.payment_modal_paragraph|safe }}
              </div>
          {% endif %}

          <div class="cc-type-list">
            <img class="cc-type-visa" src="{% static 'images/cc_icons/visa_32.png' %}">
            <img class="cc-type-mastercard" src="{% static 'images/cc_icons/mastercard_32.png' %}">
            <img class="cc-type-discover" src="{% static 'images/cc_icons/discover_32.png' %}">
            <img class="cc-type-amex" src="{% static 'images/cc_icons/amex_32.png' %}">
          </div>

          <div class="form-group">
            <label for="input-cc-number">Card number</label>
            <input type="tel" class="form-control cc-number" name="cc-number" id="cc-number">
          </div>

          <div class="form-group">
            <label for="input-cc-expiry">Expires on</label>
            <input type="tel" class="form-control cc-expiry" name="cc-expiry" id="cc-expiry" placeholder="MM / YYYY">
          </div>

          <div class="form-group">
            <label for="input-cc-cvc">Security code</label>
            <input autocomplete="off" type="tel" class="form-control cc-cvc" name="cc-cvc" id="cc-cvc">
          </div>

          <div class="form-group">
            <label for="input-cc-name">Name on card</label>
            <input type="text" class="form-control cc-name" name="cc-name" id="cc-name">
          </div>

          <div class="form-group">
            <label for="input-donation-amount">Amount ($ USD)</label>
            <input type="text" class="form-control donation-amount" name="donation-amount" id="donation-amount">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary donation-continue">Continue</button>
          </div>


        </form>
      </div>

    </div>
  </div>
</div>

{% comment %}
{% if is_reinvestment and reinvestment_amount > 0.0 %}
<div id="reinvest-modal" class="revolv-reveal-modal-table" data-reveal>
    <div class="modal-cell">
        <div class="modal-content payment-modal-content">
            <div class="modal-header">
                <span class="modal-title">Confirm Reinvestment</span>
                <div class="modal-errors">
                    <span class="error-msg"></span>
                </div>
            </div>
            <div class=modal-section">
                <div class="row">
                        <div class="medium-12 columns">
                            <p>Reinvestment Amount</p>
                            <h2>${{ reinvestment_amount }}</h2>
                        </div>
                    </div>
            </div>
            <div class="modal-section">
                    <div class="medium-12 columns">
                        <ul class="modal-footer-button-group">
                            <li><button class="close-revolv-reveal-modal submit-button gray">Cancel</button></li>
                            <li><button class="submit-button reinvest-continue">Confirm Reinvestment</button></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endcomment %}
