{% load staticfiles %}

<div class="modal fade" id="success-modal" class="revolv-reveal-modal-table" tabindex="-1" role="dialog" aria-labelledby="successModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content payment-modal-content">
      <div class="modal-header">
          <span class="modal-title">Success!</span>
          <div class="modal-errors">
              <span class="error-msg"></span>
          </div>
      </div>

      <div class="modal-body">
        <label for="checkmark" class="checkmark"></label>
        <h3>Thank you! You've successfully donated <span id="amount-donated"></span> to <strong>{{ project.title }}</strong>.</h3>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary submit-button">Hooray!</button>
      </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="share-modal" class="revolv-reveal-modal-table" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content payment-modal-content">
      <div class="modal-header">
          <span class="modal-title">Share!</span>
          <div class="modal-errors">
              <span class="error-msg"></span>
          </div>
      </div>

      <div class="modal-body">
        <p>Thanks for your donation! Could you please do a favor and share this with your friends?</p>
        <div class="sharethis-placeholder">Share: <span id="sharethis-button"></span></div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Not now</button>
      </div>

      </div>
    </div>
  </div>
</div>

{% if is_reinvestment and reinvestment_amount > 0.0 %}
    <div id="success-reinvest-modal" class="revolv-reveal-modal-table" data-reveal>
    <div class="modal-cell">
        <div class="modal-content success-modal-content">
            <div class="modal-header">
                <span class="modal-title">Success!</span>
            </div>
            <div class="modal-section text-center">
                <label for="checkmark" class="checkmark"></label>
            </div>
            <div class="modal-section table">
                <div class="table-cell-middle confirm-text">
                    <p>You've successfully reinvested
                        <span id="amount-donated">${{ reinvestment_amount }}</span> to {{ project.title }}!</p>
                   <p> Want to help even more? Make a donation!</p>
                </div>
            </div>
            <div class="modal-section">
                <div class="medium-12 columns">
                    <div class="modal-footer-button-group">
                        <ul class="modal-footer-button-group ">
                            <li><button class="submit-button reinvest-donate">Donate!</button></li>
                            <li><button class="close-revolv-reveal-modal submit-button gray">Not Now</button></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
