{% load staticfiles %}
<div id="success-modal" class="revolv-reveal-modal-table" data-reveal>
    <div class="modal-cell">
        <div class="modal-content success-modal-content">
            <div class="modal-header">
                <span class="modal-title">Success!</span>
            </div>
            <div class="modal-section text-center">
                <label for="checkmark" class="checkmark"></label>
            </div>
            <div class="modal-section table">
                <div class="table-cell-middle confirm-text">
                    <span>Thank you! You've successfully donated <span id="amount-donated"></span> to <br/>{{ project.title }}.</span>
                </div>
            </div>
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style modal-section share-buttons">
                <div class="table-cell-middle medium-12 columns share-button-table-cell">
                    <span>Share your donation!</span>
                </div>
                <div class="table-cell-middle medium-12 columns share-button-table-cell">
                    <div class="share-button-group">
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                        <a class="a2a_button_google_plus"></a>
                    </div>
                </div>
            </div>
            <div class="modal-section">
                <div class="medium-12 columns">
                    <div class="modal-footer-button-group center">
                        <button class="close-revolv-reveal-modal submit-button">Hooray!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
{% endblock %}
